<div class="position-relative">
  <section class="section section-md section-shaped">
    <div class="shape shape-style-1 shape-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </section>
</div>
<section class="section section-sm text-center">
  <div class="container">

    <section class="section section-sm">
      <div id="accordion" class="cd-section">
        <div class="accordion-1">
          <div class="container">
            <div class="row">
              <div class="col-md-6 mx-auto text-center">
                <h2 class="title mb-3 mt-5" i18n>🚀 Stats</h2>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-md-12 ml-auto">
                <div class="accordion">
                  <div class="card">
                    <div class="card-header card-join">
                      <h5 class="mb-0">
                        <button aria-controls="collapseOne" type="button"
                          class="btn btn-link w-100 text-primary text-left" aria-expanded="true" i18n>Pool Space (After
                          18th February)
                          <i class="ni ni-bold-down float-right pt-1"></i>
                        </button>
                      </h5>
                    </div>
                    <div aria-labelledby="headingOne" class="show collapse in" style="display: block;"
                      aria-expanded="false" aria-hidden="false" #ngSpaceContainerRef>
                      <br />
                      <ngx-charts-area-chart [view]="[ngSpaceContainerRef.offsetWidth]" [legend]="ngSpaceLegend"
                        [legendPosition]="nxSpaceLegendPosition" [legendTitle]="nxSpaceLegendTitle"
                        [showXAxisLabel]="ngSpaceShowAxisXLabel" [autoScale]="false" [showGridLines]="true"
                        [showYAxisLabel]="ngSpaceShowAxisYLabel" [yAxis]="ngSpaceAxisY" [timeline]="ngSpaceShowTimeline"
                        [xAxis]="ngSpaceAxisX" [animations]="ngSpaceAnimations" [results]="ngSpaceData"
                        [yAxisTickFormatting]="ngSpaceFormatAxisY" [gradient]="true" [scheme]="multiColorScheme">
                        <ng-template #seriesTooltipTemplate let-model="model">
                          <div *ngFor="let item of model">
                            {{ item.label }}
                          </div>
                          {{ model[0].name }}
                        </ng-template>
                        <ng-template #tooltipTemplate let-model="model">
                          {{ model.label }}<br />
                          {{ model.name }}
                        </ng-template>
                      </ngx-charts-area-chart>
                      <br />
                      <div class="justify-content-center">
                        <button class="btn btn-neutral col-sm-2" type="radio" (click)="refreshSize(1)"
                          [disabled]="ngSpaceDays == 1" i18n>1 Day</button>
                        <button class="btn btn-neutral col-sm-2" type="radio" (click)="refreshSize(7)"
                          [disabled]="ngSpaceDays == 7" i18n>7 Days</button>
                        <button class="btn btn-neutral col-sm-2" type="radio" (click)="refreshSize(30)"
                          [disabled]="ngSpaceDays == 30" i18n>1 Month</button>
                        <button class="btn btn-neutral col-sm-2" type="radio" (click)="refreshSize(90)"
                          [disabled]="ngSpaceDays == 90" i18n>3 Months</button>
                        <button class="btn btn-neutral col-sm-2" type="radio" (click)="refreshSize(365)"
                          [disabled]="ngSpaceDays == 365" i18n>1 Year</button>
                      </div>
                      <br />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-md-12 ml-auto">
                <div class="accordion">
                  <div class="card">
                    <div class="card-header card-join">
                      <h5 class="mb-0">
                        <button aria-controls="collapseOne" type="button"
                          class="btn btn-link w-100 text-primary text-left" aria-expanded="true" i18n>Pool Blocks
                          <i class="ni ni-bold-down float-right pt-1"></i>
                        </button>
                      </h5>
                    </div>
                    <div aria-labelledby="headingOne" class="show collapse in" style="display: block;"
                      aria-expanded="false" aria-hidden="false" #blocksContainerRef>
                      <br />
                      <ngx-charts-bar-vertical [view]="[blocksContainerRef.offsetWidth]"
                        [showXAxisLabel]="blocksShowAxisXLabel" [showYAxisLabel]="blocksShowAxisYLabel"
                        [yAxis]="blocksAxisY" [xAxis]="blocksAxisX" [animations]="true" [results]="blocksData"
                        [scheme]="oneColorScheme">
                      </ngx-charts-bar-vertical>
                      <br />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-md-12 ml-auto">
                <div class="accordion">
                  <div class="card">
                    <div class="card-header card-join">
                      <h5 class="mb-0">
                        <button aria-controls="collapseOne" type="button"
                          class="btn btn-link w-100 text-primary text-left"
                          aria-expanded="true" i18n>Pool Luck
                          <i class="ni ni-bold-down float-right pt-1"></i>
                        </button>
                      </h5>
                    </div>
                    <div aria-labelledby="headingOne" class="show collapse in" style="display: block;"
                      aria-expanded="false" aria-hidden="false" #luckContainerRef>
                      <br />
                      <ngx-charts-bar-vertical [view]="[luckContainerRef.offsetWidth]"
                        [showXAxisLabel]="luckShowAxisXLabel" [showYAxisLabel]="luckShowAxisYLabel"
                        [yAxis]="luckAxisY" [xAxis]="luckAxisX" [animations]="luckAnimations"
                        [results]="luckData" [scheme]="oneColorScheme" [yAxisTickFormatting]="luckFormatAxisY"
                        [gradient]="luckGradient" [showGridLines]="true">
                        <ng-template #tooltipTemplate let-model="model">
                          {{ model.name }}<br />Luck {{ model.value }}%
                        </ng-template>
                      </ngx-charts-bar-vertical>
                      <br />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-md-12 ml-auto">
                <div class="accordion">
                  <div class="card">
                    <div class="card-header card-join">
                      <h5 class="mb-0">
                        <button aria-controls="collapseOne" type="button"
                          class="btn btn-link w-100 text-primary text-left" aria-expanded="true" i18n>Netspace
                          <i class="ni ni-bold-down float-right pt-1"></i>
                        </button>
                      </h5>
                    </div>
                    <div aria-labelledby="headingOne" class="show collapse in" style="display: block;"
                      aria-expanded="false" aria-hidden="false" #netspaceContainerRef>
                      <br />
                      <ngx-charts-area-chart [view]="[netspaceContainerRef.offsetWidth]" [scheme]="multiColorScheme"
                        [legend]="netspaceLegend" [showXAxisLabel]="netspaceShowAxisXLabel" [autoScale]="false"
                        [showYAxisLabel]="netspaceShowAxisYLabel" [yAxis]="netspaceAxisY" [timeline]="false"
                        [xAxis]="netspaceAxisX" [animations]="netspaceAnimations" [results]="netspaceData"
                        [yAxisTickFormatting]="netspaceFormatAxisY" [gradient]="true" [showGridLines]="true">
                        <ng-template #seriesTooltipTemplate let-model="model">
                          <div *ngFor="let item of model">
                            {{ item.label }}
                          </div>
                          {{ model[0].name }}
                        </ng-template>
                        <ng-template #tooltipTemplate let-model="model">
                          {{ model.label }}<br />
                          {{ model.name }}
                        </ng-template>
                      </ngx-charts-area-chart>
                      <br />
                      <div class="justify-content-center">
                        <button class="btn btn-neutral col-sm-2" type="radio" (click)="getNetspace(1)"
                          [disabled]="netspaceDays == 1" i18n>1 Day</button>
                        <button class="btn btn-neutral col-sm-2" type="radio" (click)="getNetspace(7)"
                          [disabled]="netspaceDays == 7" i18n>7 Days</button>
                        <button class="btn btn-neutral col-sm-2" type="radio" (click)="getNetspace(30)"
                          [disabled]="netspaceDays == 30" i18n>1 Month</button>
                        <button class="btn btn-neutral col-sm-2" type="radio" (click)="getNetspace(90)"
                          [disabled]="netspaceDays == 90" i18n>3 Months</button>
                        <button class="btn btn-neutral col-sm-2" type="radio" (click)="getNetspace(365)"
                          [disabled]="netspaceDays == 365" i18n>1 Year</button>
                      </div>
                      <br />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-md-12 ml-auto">
                <div class="accordion">
                  <div class="card">
                    <div class="card-header card-join">
                      <h5 class="mb-0">
                        <button aria-controls="collapseOne" type="button"
                          class="btn btn-link w-100 text-primary text-left" aria-expanded="true" i18n>XCH Price
                        </button>
                      </h5>
                    </div>
                    <div aria-labelledby="headingOne" class="show collapse in" style="display: block;"
                      aria-expanded="false" aria-hidden="false" #priceContainerRef>
                      <br />
                      <ngx-charts-line-chart [view]="[priceContainerRef.offsetWidth]" [scheme]="multiColorScheme"
                        [legend]="priceLegend" [showXAxisLabel]="priceShowAxisXLabel" [autoScale]="false"
                        [showYAxisLabel]="priceShowAxisYLabel" [yAxis]="priceAxisY" [timeline]="false"
                        [xAxis]="priceAxisX" [animations]="priceAnimations" [results]="priceData" [gradient]="true"
                        [showGridLines]="true">
                        <ng-template #seriesTooltipTemplate let-model="model">
                          <div *ngFor="let item of model">
                            {{ item.label }}
                          </div>
                          {{ model[0].name }}
                        </ng-template>
                        <ng-template #tooltipTemplate let-model="model">
                          {{ model.label }}<br />
                          {{ model.name }}
                        </ng-template>
                      </ngx-charts-line-chart>
                      <br />
                      <div class="justify-content-center">
                        <button class="btn btn-neutral col-sm-2" type="radio" (click)="getXchPrice(1)"
                          [disabled]="priceDays == 1" i18n>1 Day</button>
                        <button class="btn btn-neutral col-sm-2" type="radio" (click)="getXchPrice(7)"
                          [disabled]="priceDays == 7" i18n>7 Days</button>
                        <button class="btn btn-neutral col-sm-2" type="radio" (click)="getXchPrice(30)"
                          [disabled]="priceDays == 30" i18n>1 Month</button>
                        <button class="btn btn-neutral col-sm-2" type="radio" (click)="getXchPrice(90)"
                          [disabled]="priceDays == 90" i18n>3 Months</button>
                        <button class="btn btn-neutral col-sm-2" type="radio" (click)="getXchPrice(365)"
                          [disabled]="priceDays == 365" i18n>1 Year</button>
                      </div>
                      <br />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-md-12 ml-auto">
                <div class="accordion">
                  <div class="card">
                    <div class="card-header card-join">
                      <h5 class="mb-0">
                        <button aria-controls="collapseOne" type="button"
                          class="btn btn-link w-100 text-primary text-left" aria-expanded="true" i18n>Chia Mempool
                          Occupied
                          (After
                          23rd March)
                          <i class="ni ni-bold-down float-right pt-1"></i>
                        </button>
                      </h5>
                    </div>
                    <div aria-labelledby="headingOne" class="show collapse in" style="display: block;"
                      aria-expanded="false" aria-hidden="false" #mempoolContainerRef>
                      <br />
                      <ngx-charts-area-chart [view]="[mempoolContainerRef.offsetWidth]" [legend]="false"
                        [showXAxisLabel]="ngSpaceShowAxisXLabel" [autoScale]="false" [showGridLines]="true"
                        [showYAxisLabel]="ngSpaceShowAxisYLabel" [yAxis]="ngSpaceAxisY" [timeline]="false"
                        [xAxis]="ngSpaceAxisX" [animations]="true" [results]="mempoolData"
                        [yAxisTickFormatting]="mempoolFormatAxisY" [gradient]="true" [scheme]="multiColorScheme">
                        <ng-template #seriesTooltipTemplate let-model="model">
                          <div *ngFor="let item of model">
                            {{ item.label }}
                          </div>
                          {{ model[0].name }}
                        </ng-template>
                        <ng-template #tooltipTemplate let-model="model">
                          {{ model.label }}<br />
                          {{ model.name }}
                        </ng-template>
                      </ngx-charts-area-chart>
                      <br />
                      <div class="justify-content-center">
                        <button class="btn btn-neutral col-sm-2" type="radio" (click)="getMempool(1)"
                          [disabled]="mempoolDays == 1" i18n>1 Day</button>
                        <button class="btn btn-neutral col-sm-2" type="radio" (click)="getMempool(7)"
                          [disabled]="mempoolDays == 7" i18n>7 Days</button>
                        <button class="btn btn-neutral col-sm-2" type="radio" (click)="getMempool(30)"
                          [disabled]="mempoolDays == 30" i18n>1 Month</button>
                        <button class="btn btn-neutral col-sm-2" type="radio" (click)="getMempool(90)"
                          [disabled]="mempoolDays == 90" i18n>3 Months</button>
                        <button class="btn btn-neutral col-sm-2" type="radio" (click)="getMempool(365)"
                          [disabled]="mempoolDays == 365" i18n>1 Year</button>
                      </div>
                      <br />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>
</section>