<div class="position-relative">
  <!-- shape Hero -->
  <section class="section section-md section-shaped">
    <div class="shape shape-style-1 shape-default">
      <span></span>
      <span></span>
      <span class="effect-left-right"></span>
      <span class="effect-top-bottom"></span>
      <span class="effect-top-bottom"></span>
      <span class="effect-morph"></span>
      <span></span>
      <span class="effect-morph"></span>
      <span></span>
    </div>
  </section>
  <!-- 1st Hero Variation -->
</div>
<section class="section section-sm">
  <div class="container">
    <div class="row row-grid justify-content-center">
      <div class="col-lg-8 text-left">
        <h2 class="display-3" i18n>Frequentely Asked Questions (F.A.Q.)</h2>
      </div>
    </div>
    <div class="row row-grid">
      <h3 class="display-4" i18n>What are non-portable (OG) and portable plots (NFT)?</h3>
      <div class="col-lg-12 text-left">
        <p>Non-portable plots (OG) are all plots that were created before the update expected by the end of May. These cannot be used with pools, but can continue to self-farm.</p>
        <p>Portable plots (NFT) can be created after the blockchain that happened on July. These can be plotted to a smart contract, which gives them additional functionality. Farmers can assign these plots to a pool, change what pool they are assigned to, or continue to self-farm.</p>
      </div>
    </div>
    <div class="row row-grid">
      <h3 class="display-4" i18n>How Chia pools work?</h3>
      <div class="col-lg-12 text-left">
        <p>Pools are made up of a group of people farming together. When one of the farmers in the pool wins a block, everybody shares the reward.</p>
        <p>The farmer that wins the block gets 0.25 XCH, the remaining 1.75 XCH is split among the rest of the pool, minus the pool fee. They will receive a cut of the 1.75 XCH equal to their share in pool space.</p>
      </div>
    </div>
    <div class="row row-grid">
      <h3 class="display-4" i18n>Can I join a pool with non-portable (OG) plots?</h3>
      <div class="col-lg-12 text-left">
      <p>You can join a pool if you still have non-portable plots, however only new plots will be use to farm to a pool. Both type of plots can co-exist.</p>
      <p>Farmers have been choosing to gradually move from OG plots to NFT.</p>
      </div>
    </div>
    <div class="row row-grid">
      <h3 class="display-4" i18n>Can I switch from/to your pool whenever I want?</h3>
      <div class="col-lg-12 text-left">
        <p>Yes. Changing pools costs 1 mojo (0.000000000001 XCH). <a href="https://blog.openchia.io/2021/07/27/change-pool.html">For instructions on how to do that, click here.</a></p>
      </div>
    </div>
    <div class="row row-grid">
      <h3 class="display-4" i18n>How many portable plots do I need to join the pool?</h3>
      <div class="col-lg-12 text-left">
        <p>You can join the pool with a single portable plot.</p>
      </div>
    </div>
    <div class="row row-grid">
      <h3 class="display-4" i18n>Do you have any other questions?</h3>
      <div class="col-lg-12 text-left">
        <p>Please let us know if you have any other questions so we can include it here. Feel free to reach us out at <a href="https://discord.gg/2URS9H7RZn" target="_blank">Discord</a>.
      </div>
    </div>
  </div>
</section>
