<div class="position-relative">
  <section class="section section-md section-shaped">
    <div class="shape shape-style-1 shape-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </section>
</div>
<section class="section section-sm">
  <div class="container">
    <p i18n>From now on OpenChia will no longer be doing weekly giveaways.</p>
    <p i18n>We have decided to stop running weekly giveaways for a number of reasons.</p>
    <p i18n>First of all, we have noticed little to no engagement from our community in regards to that. We often found
      ourselves doing the livestream to draw the winner number and we did not have anybody watching and the number of
      views afterwards were also very slim.</p>
    <p i18n>A poll was made in our Discord and Twitter regarding the giveaway versus discount fees for all farmers. It
      turns out people preferred discount fees and that is what we implemented and pushed live before ending the
      giveaway.</p>
    <p i18n>Finally, the giveaway is no longer creating the interest and return that we were hoping for and given
      pooling’s thin margins it makes little sense to continue increasing debt unnecessarily. </p>
    <p i18n>We hope you all understand the decision.</p>

    <h3 i18n>Previous Giveaways</h3>
    <table class="table table-sm table-striped table-responsive-lg">
      <thead>
        <tr>
          <th scope="col" i18n="@@DrawDate">Draw Date</th>
          <th scope="col" i18n="@@Winner">Winner</th>
          <th scope="col" i18n="@@Giveaway">Giveaway</th>
        </tr>
      </thead>
      <tbody *ngIf="(giveaways$ | async) as giveaways;">
        <tr
          *ngFor="let giveaway of giveaways | slice: (giveawaysPage-1) * giveawaysPageSize : giveawaysPage * giveawaysPageSize">
          <td>{{ giveaway.draw_datetime | date:"full" }}</td>
          <td *ngIf="giveaway.winner">
            <a [routerLink]="['/explorer/farmer', giveaway.winner.launcher_id]">{{ giveaway.winner.launcher_id }}</a>
            ({{ giveaway.winner.name || "not set" }})
          </td>
          <td *ngIf="!giveaway.winner">?</td>
          <td>{{ giveaway.prize_amount / 1000000000000 }} XCH</td>
        </tr>
        <tr *ngIf="giveaways.length == 0">
          <td colspan="3" i18n>No previous giveaways found!</td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-between p-2">
      <ngb-pagination [collectionSize]="giveaways.length" [(page)]="giveawaysPage" [pageSize]="giveawaysPageSize">
      </ngb-pagination>
    </div>
  </div>
</section>