<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-md section-shaped pb-250">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-md-sm d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-6">
              <h1 class="display-3  text-white">Welcome to OpenChia.io
                <span i18n>Official Pool Protocol</span>
              </h1>
              <p class="lead text-white">A pool you can trust. <br />All our software is open source.
                <a href="https://github.com/openchia" target="_blank" data-toggle="tooltip" title="Star us on Github">
                  <i class="fab fa-github"></i>
                </a>
              </p>

              <div class="btn-wrapper">
                <a [routerLink]="['/join']" class="btn btn-warning btn-icon mb-3 mb-sm-0">
                  <span class="btn-inner--text" i18n>Join our pool</span>
                </a>

                <a href="https://discord.gg/2URS9H7RZn" target="_blank" class="btn btn-neutral btn-icon mb-3 mb-sm-0">
                  <i class="fab fa-discord"></i>
                  <span class="btn-inner--text" i18n>Chat with us</span>
                </a>
              </div>
            </div>
            <div class="col-lg-6 text-right justify-content-center">
              <p class="lead text-white">Pool URL: <strong>https://pool.openchia.io</strong></p>
              <p class="text-white">Distribution System: PPS</p>
              <p class="text-white">Fee: 0%</p>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2160 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>
  <section class="section section-md pt-lg-0 mt--200">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-lg-3">
              <div class="card card-lift shadow border-0">
                <div class="card-body py-4">
                  <h6 class="text-primary text-uppercase">0% Fee</h6>
                  <p class="description mt-3">Enjoy 0% pool fee until September 2021.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="card card-lift shadow border-0">
                <div class="card-body py-4">
                  <h6 class="text-success text-uppercase">No minimum payout</h6>
                  <p class="description mt-3">Why wait to get your rewards?</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="card card-lift shadow border-0">
                <div class="card-body py-4">
                  <h6 class="text-warning text-uppercase">Instant payout</h6>
                  <p class="description mt-3">Get your reward as soon as possible.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="card card-lift shadow border-0">
                <div class="card-body py-4">
                  <h6 class="text-info text-uppercase">Transparent</h6>
                  <p class="description mt-3">We have nothing to hide. Full blown explorer and live logs.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-sm">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-8">
          <div class="pl-md-7">
            <ngx-charts-area-chart
              [scheme]="colorScheme"
              [legend]="legend"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [xAxis]="xAxis"
              [yAxis]="yAxis"
              [yAxisLabel]="yAxisLabel"
              [timeline]="timeline"
              [results]="data"
              [yAxisTickFormatting]="yAxisFormat"
              >
              <ng-template #seriesTooltipTemplate let-model="model">
                {{ model[0].label }}<br />
                {{ model[0].name }}
              </ng-template>
              <ng-template #tooltipTemplate let-model="model">
                {{ model.label }}<br />
                {{ model.name }}
              </ng-template>
            </ngx-charts-area-chart>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card bg-default shadow border-0">
            <blockquote class="card-blockquote">
              <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 65" class="svg-bg">
                <polygon points="0,52 383,95 0,95" class="fill-default" />
              </svg>
              <h4 class="display-3 font-weight-bold text-white">News</h4>
              <ul class="navbar-nav navbar-nav-hover">
                <li>
                  <span class="text-white"><a class="text-white" href="https://blog.openchia.io/2021/07/27/howto-set-name.html" target="_blank">How-to set name in Explorer</a><br />[27 Jul 2021]</span>
                </li>
                <li>
                  <span class="text-white"><a class="text-white" href="https://blog.openchia.io/2021/07/26/five-reasons-to-join.html" target="_blank">5 reasons to join OpenChia</a><br />[26 Jul 2021]</span>
                </li>
                <li>
                  <span class="text-white"><a class="text-white" href="https://blog.openchia.io/2021/07/26/welcome-openchia.html" target="_blank">Welcome to OpenChia.io Blog!</a><br />[26 Jul 2021]</span>
                </li>
              </ul>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-md">
    <div class="container">
      <div class="row justify-content-center text-center mb-md">
        <div class="col-lg-8">
          <h2 class="display-3" i18n>Who we are</h2>
          <p class="lead text-muted">Have you asked yourself who are the people running Chia pools? Do you trust them?</p>
          <p class="lead text-muted">We have more than 20 years of combined experience in the software development industry.</p>
        </div>
      </div>
          <!--
      <div class="row">
        <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
          <div class="px-4">
            <img src="./assets/img/theme/team-1-800x800.jpg" class="rounded-circle img-center img-fluid shadow shadow-lg-hover" style="width: 200px;">
            <div class="pt-4 text-center">
              <h5 class="title">
                <span class="d-block mb-1">William Grzybowski</span>
                <small class="h6 text-muted">Founder & Developer</small>
              </h5>
              <div class="mt-3">
                <a href="https://github.com/william-gr" class="btn btn-warning btn-icon-only rounded-circle" target="_blank">
                  <i class="fab fa-github"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
          -->
    </div>
  </section>
</main>
