.separator-skew-position {
  z-index: auto;
}

.landing-position {
  z-index: 2;
}

.mockup-section-1 {
  z-index: auto;
}

.mockup-landing-1 {
  margin-left: auto;
  margin-right: auto;
  margin-top: -60px;
}

.landing-stats-cards {
  margin-top: 80px;
}

.join-align {
  padding-left: 5%;
}

.discord-align {
  padding-right: 5% !important;
  padding-left: 17%;
}
