<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-md section-shaped pt-50">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-md-sm d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-6">
              <h1 class="display-3 text-white">
                <span i18n>Welcome to OpenChia.io</span>
                <span i18n>Official Pool Protocol</span>
              </h1>
              <p class="lead text-white">
                <span i18n>A pool you can trust.</span> <br /><span i18n>All our software is open source.
                </span>
                <a href="https://github.com/openchia" target="_blank" data-toggle="tooltip" title="Star us on Github">
                  <i class="text-white fab fa-github"></i>
                </a>
              </p>
            </div>
            <div class="col-lg-6 text-right justify-content-center">
              <p class="lead text-white">
                <strong>https://pool.openchia.io</strong><br />
                <strong>https://pool-eu.openchia.io</strong><br />
                <strong>https://pool-asia.openchia.io</strong>
              </p>
              <a
                href="https://play.google.com/store/apps/details?id=com.openchia&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1">
                <img alt="Get it on Google Play"
                  src="https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png"
                  width="168px" height="65px" />
              </a>
              <a href="https://github.com/openchia/mobile/releases/download/Latest/openchia.apk">
                <img alt="Download APK" src="./assets/img/mobile/direct-download-apk.png" width="168px" height="65px" />
              </a>
              <a href="https://apps.apple.com/us/app/openchia/id1595607176">
                <img alt="Get it on App Store"
                  src="https://developer.apple.com/assets/elements/badges/download-on-the-app-store.svg" width="135px"
                  height="45px" />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
          xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-bg" points="2160 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
  </div>

  <!-- Cards -->
  <section class="section section-md pt-lg-0 mt--200">
    <div class="container">
      <div class="row justify-content-right">
        <div class="col-lg-12">
          <div class="row row-grid">
            <img class="mockup-landing-1" src="./assets/img/landing/mockup-1.png" height="300px"/>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Stats -->
  <section class="section section-sm pt-lg-0 mt--100">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid text-center landing-stats-cards">
            <div class="col-lg-2">
              <div class="card card-lift shadow border-0">
                <div class="card-body py-3">
                  <h6 class="text-primary text-uppercase" i18n>XCH Price</h6>
                  <p class="description mt-3">${{ xch_current_price.usd | number }}</p>
                </div>
              </div>
            </div>
            <div class="col-lg-2">
              <div class="card card-lift shadow border-0">
                <div class="card-body py-3">
                  <h6 class="text-primary text-uppercase" i18n>Pool Space</h6>
                  <p class="description mt-3">{{ pool_space | filesize:{"base": 2, "standard": "iec"} }}</p>
                </div>
              </div>
            </div>
            <div class="col-lg-2">
              <div class="card card-lift shadow border-0">
                <div class="card-body py-3">
                  <h6 class="text-success text-uppercase" i18n>ETW</h6>
                  <p class="description mt-3" i18n>{{ estimate_win }}</p>
                </div>
              </div>
            </div>
            <div class="col-lg-2">
              <div class="card card-lift shadow border-0">
                <div class="card-body py-3">
                  <h6 class="text-info text-uppercase" i18n>Farmers</h6>
                  <p class="description mt-3" i18n>{{ farmers }} total</p>
                </div>
              </div>
            </div>
            <div class="col-lg-2">
              <div class="card card-lift shadow border-0">
                <div class="card-body py-3">
                  <h6 class="text-warning text-uppercase" i18n>Blocks</h6>
                  <p class="description mt-3" i18n>{{ rewards_blocks }} farmed</p>
                </div>
              </div>
            </div>
            <div class="col-lg-2">
              <div class="card card-lift shadow border-0">
                <div class="card-body py-3">
                  <h6 class="text-primary text-uppercase" i18n>Profitability</h6>
                  <p class="description mt-3" i18n>{{ xch_tb_month | number:".8"}} XCH/TiB/day</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Join pool -->
  <section class="pricing-5" id="pricing-6">
    <div class="pt-5 container">
      <div class="row">
        <div class="d-flex justify-content-center justify-content-bottom flex-column col-md-4 text-center">
          <h3 class="display-3 mt-3" i18n>Join OpenChia pool 🎉</h3>
          <p class="lead mt-0" i18n>
            Set <span class="text-primary">https://pool.openchia.io</span> as the pool URL for your PlotNFT using
            either the Chia GUI/CLI. Our OpenChia community can help you on the
            Discord server. Ready? Let's go!
          </p>
          <a class="btn btn-neutral btn-icon btn-discord" target="_blank" href="https://discord.gg/2URS9H7RZn">
            <i class="fab fa-discord"></i>
            <span class="btn-inner--text" i18n>Join community on Discord</span>
          </a>
        </div>
        <div class="ml-auto mr-auto col-md-8 col-lg-7">
          <div class="tab-content tab-space">
            <div class="tab-pane active">
              <div class="row justify-content-center">
                <div class="col-md-6">
                  <div class="card-pricing card-landing-join bg-white border-0 text-center mb-4 card">
                    <a class="twitter-timeline" data-height="400"
                      href="https://twitter.com/OpenChia?ref_src=twsrc%5Etfw" i18n>
                      Tweets by OpenChia
                    </a>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card-pricing card-landing-join bg-white border-0 text-center mb-4 card">
                    <a class="twitter-timeline" data-height="400"
                      href="https://twitter.com/chia_project?ref_src=twsrc%5Etfw" i18n>
                      Tweets by OpenChia
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <br /><br />

  <!-- Discount promote -->
  <section class="section section-sm section-shaped">
    <div class="shape shape-style-1 shape-default"></div>
    <div class="container py-sm">
      <div class="row row-grid justify-content-between align-items-center">
        <div class="col-lg-6 text-center">
          <h3 class="display-3 text-white text-shadow" i18n>
            Fee Discount!
          </h3>
          <p class="text-white" i18n>The bigger your farmer the bigger the discount!</p>
          <p class="text-white" i18n>The longer you stay the bigger the discount!</p>
          <p class="lead text-white" i18n>Up to 0.25% of fee discount, effective final fee of 0.75%.</p>
          <div class="btn-wrapper">
            <a class="btn btn-neutral btn-icon" [routerLink]="['/fees']" i18n>Read more</a>
          </div>
        </div>
        <div class="col-lg-6 mb-lg-auto">
          <div class="card-landing text-center">
            <img src="./assets/img/landing/mockup-2.png" height="300px"/>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Mobile application -->
  <div class="section">
    <div class="container py-md">
      <div class="row justify-content-between align-items-center">
        <div class="col-lg-6 mb-lg-auto justify-content-bottom">
          <div class="rounded overflow-hidden">
            <div id="mobile_application" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active text-center">
                  <img src="./assets/img/landing/mockup-3.png" height="300px" />
                  <img src="./assets/img/landing/mockup-4.png" height="300px" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 mb-5 mb-lg-0 text-center">
          <h1 class="font-weight-light text-shadow" i18n>Mobile Application</h1>
          <p class="lead mt-4" i18n>
            Monitor pool, farm stats, payouts and more anywhere with our mobile
            app. Available for both Android and iOS.
          </p>
          <a
            href="https://play.google.com/store/apps/details?id=com.openchia&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"><img
              alt="Get it on Google Play"
              src="https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png"
              width="168px" height="65px" /></a>
          <a href="https://github.com/openchia/mobile/releases/download/Latest/openchia.apk">
            <img alt="Download APK" src="./assets/img/mobile/direct-download-apk.png" width="168px" height="65px" />
          </a>
          <a href="https://apps.apple.com/us/app/openchia/id1595607176"><img alt="Get it on App Store"
              src="https://developer.apple.com/assets/elements/badges/download-on-the-app-store.svg" width="135px"
              height="45px" /></a>
        </div>
      </div>
    </div>
  </div>

  <!-- Promote opensource -->
  <section class="section section-sm section-shaped">
    <div class="shape shape-style-1 shape-default"></div>
    <div class="container py-sm">
      <div class="row row-grid justify-content-between align-items-center">
        <div class="col-lg-6 text-center">
          <h3 class="display-3 text-white text-shadow" i18n>
            OpenChia is open source!
          </h3>
          <p class="lead text-white" i18n>
            All our software (pool, api, website, discord bot, mobile
            application) are open source and it's very important for the
            community.
            <br /><br />
            You have an idea? Submit your improvement code or create an issue.
            It's easy and anyone can participate!
          </p>
          <div class="btn-wrapper">
            <a class="btn btn-neutral btn-icon" alt="GitHub" target="_blank" href="https://github.com/openchia/web"
              i18n>
              <i class="fab fa-github"></i> Open GitHub
            </a>
          </div>
        </div>
        <div class="col-lg-5 mb-lg-auto">
          <div class="card-landing align-items-right">
            <img class="card-landing-center" src="./assets/img/brand/logo_white.svg" height="50%" width="50%" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Team overview -->
  <section class="section section-md">
    <div class="container">
      <div class="row justify-content-center text-center mb-md">
        <div class="col-lg-8">
          <h2 class="display-3 text-shadow" i18n>🌱 OpenChia Team</h2>
          <p class="lead lead-text" i18n>
            Have you asked yourself who are the people running Chia pools? Do
            you trust them?
            <br />
            We have more than 20 years of combined experience in the software
            development industry.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
          <div class="card card-team-profile shadow border-0">
            <img src="./assets/img/team/team-1.jpg" class="rounded-circle img-center img-fluid shadow shadow-lg-hover"
              style="width: 200px" width="200px" height="197px" />
            <div class="pt-4 text-center">
              <h5 class="title">
                <span class="d-block mb-1">Jan Starčevskyj</span>
                <small class="h6 text-muted" i18n>Business and Marketing</small>
              </h5>
              <div class="mt-3">
                <a href="https://twitter.com/JStarcevskyj"
                  class="btn btn-neutral btn-icon-only btn-twitter rounded-circle" target="_blank">
                  <i class="fab fa-twitter"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
          <div class="card card-team-profile shadow border-0">
            <img src="./assets/img/team/team-2.jpg" class="rounded-circle img-center img-fluid shadow shadow-lg-hover"
              style="width: 200px" width="200px" height="197px" />
            <div class="pt-4 text-center">
              <h5 class="title">
                <span class="d-block mb-1">William Grzybowski</span>
                <small class="h6 text-muted" i18n>Software Engineer</small>
              </h5>
              <div class="mt-3">
                <a href="https://github.com/william-gr" class="btn btn-neutral btn-icon-only btn-github rounded-circle"
                  target="_blank">
                  <i class="fab fa-github"></i>
                </a>
                <a href="https://www.linkedin.com/in/william-grzybowski-6703b231/"
                  class="btn btn-neutral btn-icon-only btn-linkedin rounded-circle" target="_blank">
                  <i class="fab fa-linkedin"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
          <div class="card card-team-profile shadow border-0">
            <img src="./assets/img/team/team-3.jpg" class="rounded-circle img-center img-fluid shadow shadow-lg-hover"
              style="width: 200px" width="200px" height="197px" />
            <div class="pt-4 text-center">
              <h5 class="title">
                <span ngbTooltip="Jérémy Chabernaud" class="d-block mb-1">🌱 DJΞRFY 🚀</span>
                <small class="h6 text-muted" i18n>Web Developer</small>
              </h5>
              <div class="mt-3">
                <a href="https://twitter.com/djerfy" class="btn btn-neutral btn-icon-only btn-twitter rounded-circle"
                  target="_blank">
                  <i class="fab fa-twitter"></i>
                </a>
                <a href="https://github.com/djerfy" class="btn btn-neutral btn-icon-only btn-github rounded-circle"
                  target="_blank">
                  <i class="fab fa-github"></i>
                </a>
                <a href="https://www.linkedin.com/in/djerfy/"
                  class="btn btn-neutral btn-icon-only btn-linkedin rounded-circle" target="_blank">
                  <i class="fab fa-linkedin"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
          <div class="card card-team-profile shadow border-0">
            <img src="./assets/img/team/team-4.jpg" class="rounded-circle img-center img-fluid shadow shadow-lg-hover"
              style="width: 200px" width="200px" height="197px" />
            <div class="pt-4 text-center">
              <h5 class="title">
                <span class="d-block mb-1">Ronald G</span>
                <small class="h6 text-muted" i18n>Mobile Developer</small>
              </h5>
              <div class="mt-3">
                <a href="https://github.com/BubbleTrouble14"
                  class="btn btn-neutral btn-icon-only btn-github rounded-circle" target="_blank">
                  <i class="fab fa-github"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
          <div class="card card-team-profile shadow border-0">
            <img src="./assets/img/team/team-5.jpg" class="rounded-circle img-center img-fluid shadow shadow-lg-hover"
              style="width: 200px" width="200px" height="197px" />
            <div class="pt-4 text-center">
              <h5 class="title">
                <span class="d-block mb-1">JunCheng Gu</span>
                <small class="h6 text-muted" i18n>Chinese Community Ambassador</small>
              </h5>
              <div class="mt-3">
                <a href="https://www.linkedin.com/in/junchenggu/"
                  class="btn btn-neutral btn-icon-only btn-linkedin rounded-circle" target="_blank">
                  <i class="fab fa-linkedin"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
