<div class="position-relative">
  <section class="section section-md section-shaped">
    <div class="shape shape-style-1 shape-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </section>
</div>
<section class="section section-sm text-center">
  <div class="container">
    <br /><br /><br /><br />
    <h1 class="text-shadow" i18n>404 PAGE NOT FOUND</h1>
  </div>
</section>