http://%%DOMAIN%% {

	root * /var/www/openchia

	@spa {
		not path */assets/*
		not path *.js
		not path *.css
		not path /api/*
		not path /ws/*
		not path /*/robots.txt
		not path /*/security.txt
		not path /*/sitemap.xml
		path_regexp i18n ^/(.*?)/(.*)
	}

	rewrite @spa {re.i18n.1}/index.html

	rewrite /robots.txt /en/robots.txt
	rewrite /security.txt /en/security.txt
	rewrite /sitemap.xml /en/sitemap.xml

	file_server

	log {
		output stdout
		format %%LOGFORMAT%%
		level %%LOGLEVEL%%
	}
}
