<div class="position-relative">
  <section class="section section-md section-shaped">
    <div class="shape shape-style-1 shape-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </section>
</div>
<section class="section section-sm text-center">
  <div class="container">
    <h1 i18n="@@Calculator">Profitability Calculator</h1>
    <h3 i18n>Estimated Earnings</h3>
    <p i18n>View is based on a snapshot of today's XCH price, a pool luck and a constant total network space. Plots of
      size k=32 (101.4 GiB).</p>
    <br />
    <div class="form-group">
      <div class="justify-centent">
        <div class="col-lg-12">
          <div class="row row-grid justify-content-center">
            <div class="col-lg-2 justify-content-center">
              <input #calculator class="form-control" type="text" id="calculatorTextInput" name="calculatorTextInput"
                value="{{ calculator_plots_current }}" (input)="$event.target.value"
                oninput="calculatorRangeInput.value=calculatorTextInput.value">
            </div>
            <div class="col-lg-10 justify-content-center">
              <input #calculator class="form-control form-control-range-bar" type="range" id="calculatorRangeInput"
                name="calculatorRangeInput" min="{{ calculator_plots_min }}" max="{{ calculator_plots_max }}"
                value="{{ calculator_plots_current }}" (input)="$event.target.value"
                oninput="calculatorTextInput.value=calculatorRangeInput.value">
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <br />
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="row row-grid">
          <div class="col-lg-4 justify-content-center">
            <div class="card card-lift shadow border-0">
              <div class="card-body py-3 text-center">
                <span class="text-primary text-uppercase"><span i18n>Number of plots</span></span>
                <p class="display-4">{{ calculator.value }}</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 justify-content-center">
            <div class="card card-lift shadow border-0">
              <div class="card-body py-3 text-center">
                <span class="text-primary text-uppercase"><span i18n>Estimated space</span></span>
                <p class="display-4">{{ convertPlotsToSpace(calculator.value) | number:".2-2" }} TiB</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 justify-content-center">
            <div class="card card-lift shadow border-0">
              <div class="card-body py-3 text-center">
                <span class="text-primary text-uppercase"><span i18n>Estimated utilization</span></span>
                <p class="display-4">{{ convertPlotsToUtilization(calculator.value) | number:".2-3" }}%</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
    <br />
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="row row-grid">
          <div class="col-lg-3 justify-content-center">
            <div class="card card-lift shadow border-0">
              <div class="card-body py-3 text-center">
                <span class="text-primary text-uppercase"><span i18n>Hourly XCH</span></span>
                <p class="display-4">{{ estimateDayXCH(calculator.value) / 24 | number:".2-2" }} XCH</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 justify-content-center">
            <div class="card card-lift shadow border-0">
              <div class="card-body py-3 text-center">
                <span class="text-primary text-uppercase"><span i18n>Daily XCH</span></span>
                <p class="display-4">{{ estimateDayXCH(calculator.value) | number:".2-2" }} XCH</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 justify-content-center">
            <div class="card card-lift shadow border-0">
              <div class="card-body py-3 text-center">
                <span class="text-primary text-uppercase"><span i18n>Weekly XCH</span></span>
                <p class="display-4">{{ estimateDayXCH(calculator.value) * 7 | number:".2-2" }} XCH</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 justify-content-center">
            <div class="card card-lift shadow border-0">
              <div class="card-body py-3 text-center">
                <span class="text-primary text-uppercase"><span i18n>Monthly XCH</span></span>
                <p class="display-4">{{ estimateDayXCH(calculator.value) * 31 | number:".2-2" }} XCH</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
    <br />
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="row row-grid">
          <div class="col-lg-3 justify-content-center">
            <div class="card card-lift shadow border-0">
              <div class="card-body py-3 text-center">
                <span class="text-primary text-uppercase"><span i18n>Hourly USD</span></span>
                <p class="display-4">${{ estimateDayUSD(calculator.value) / 24 | number:".2-2" }}</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 justify-content-center">
            <div class="card card-lift shadow border-0">
              <div class="card-body py-3 text-center">
                <span class="text-primary text-uppercase"><span i18n>Daily USD</span></span>
                <p class="display-4">${{ estimateDayUSD(calculator.value) | number:".2-2" }}</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 justify-content-center">
            <div class="card card-lift shadow border-0">
              <div class="card-body py-3 text-center">
                <span class="text-primary text-uppercase"><span i18n>Weekly USD</span></span>
                <p class="display-4">${{ estimateDayUSD(calculator.value) * 7 | number:".2-2" }}</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 justify-content-center">
            <div class="card card-lift shadow border-0">
              <div class="card-body py-3 text-center">
                <span class="text-primary text-uppercase"><span i18n>Monthly USD</span></span>
                <p class="display-4">${{ estimateDayUSD(calculator.value) * 31 | number:".2-2" }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>