  <div class="position-relative">
    <section class="section section-md section-shaped">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </section>
  </div>
  <section class="section section-sm">
    <div class="container">
      <div class="row row-grid justify-content-center">
        <h2 class="display-3" i18n>Fees</h2>
        <div class="col-md-12 text-left">
          Fees are structured this way:
          <ul>
            <li>Until 1st September 2021 (2021/09/01): <strong>0%</strong></li>
            <li>After 1st September 2021 (2021/09/01): <strong>1%</strong></li>
          </ul>
          Examples:
          <ul>
            <li><i>Before 1st September:</i>A reward of 1.75 XCH will be distributed to pool farmers, 0 XCH (nothing) is kept to the pool.</li>
            <li><i>After 1st September:</i>If a reward of 1.75 XCH is found, only 1% of that, 0.0175 will be kept to the pool as a fee. The remaining 1.625 XCH will be distributed to pool farmers.</li>
          </ul>
        </div>
        <h2 class="display-3" i18n>Reward Distribution</h2>
        <div class="col-md-12 text-left">
          We use PPLNS (Pay Per Last N Shares) to distribute rewards.<br />
          When a block is won, we look at the valid partials (shares) submitted by all users in the pool since last payout and distribute the reward value based on your share among all farmers in the pool.<br />
          In our case Last N Shares refers to partials since last payout. We believe this system is far more fair for less frequent rewards (when Last N Shares means only last few hours), since people contributing for more time will get more rewards.<br />
          Once our estimated time to win gets below 48 hours we plan on changing the Last N Shares to 48 hours of valid partials.
        </div>
        <h2 class="display-3" i18n>Payouts</h2>
        <div class="col-md-12 text-left">
          Payouts will happen within 5 minutes of the farmed block.<br />
          <p>
          These terms are subjected to change and will be communicated 1 week prior to the change in this website and on Discord channel.
          </p>
        </div>
      </div>
    </div>
  </section>
