<section class="section section-sm pt-sm-0">
  <div class="container">
    <h3 class="display-3" i18n>Payout</h3>
    <table class="table table-sm table-striped table-responsive-lg">
      <tbody>
        <tr>
          <th i18n="@@Date">Date</th>
          <td>{{ payout.datetime | date:"medium" }}</td>
        <tr>
          <th i18n="@@Amount">Amount</th>
          <td>{{ payout.amount / 1000000000000 }} XCH</td>
        </tr>
        <tr>
          <th i18n="@@Fee">Fee</th>
          <td>{{ payout.fee / 1000000000000 }} XCH</td>
        </tr>
        <tr>
          <th i18n="@@Blocks">Blocks</th>
          <td>{{ payout.blocks?.length }}</td>
        </tr>
      </tbody>
    </table>
    <h3 class="display-3" i18n="@@PayoutAddresses">Payout Addresses</h3>
    <table class="table table-sm table-striped table-responsive-lg">
      <thead>
        <tr>
          <th scope="col" i18n="@@Payout">Payout ID</th>
          <th scope="col" i18n="@@Launcher">Launcher ID</th>
          <th scope="col" i18n="@@Transaction">Transaction</th>
          <th scope="col" i18n="@@Amount">Amount</th>
          <th scope="col" i18n="@@Price">Price</th>
        </tr>
      </thead>
      <tbody *ngIf="(payoutaddrs$ | async) as payoutaddrs;">
        <tr *ngFor="let payoutaddr of payoutaddrs; let i = index">
          <td>{{ payoutaddr.id }}</td>
          <td>
            <a [routerLink]="['/explorer/farmer', payoutaddr.launcher?.launcher_id]"
              routerLinkActive="router-link-active">
              {{ (payoutaddr.launcher?.name || payoutaddr.launcher?.launcher_id || '') | maxLength:20 }}
            </a>
          </td>
          <td>{{ payoutaddr.transaction?.transaction }}</td>
          <td>{{ payoutaddr.amount / 1000000000000 }} XCH</td>
          <td>
            <span *ngIf="payoutaddr.transaction && payoutaddr.transaction.xch_price">${{
              payoutaddr.transaction.xch_price.usd * (payoutaddr.amount / 1000000000000) | number }} USD</span>
            <span *ngIf="!payoutaddr.transaction || !payoutaddr.transaction.xch_price" i18n="@@Unknown">Unknown</span>
          </td>
        </tr>
        <tr *ngIf="payoutaddrs.length == 0">
          <td colspan="5" i18n="@@NoPayoutsAddrs">No payouts addresses found!</td>
        </tr>
      </tbody>
    </table>
    <ngb-pagination [collectionSize]="payoutaddrsCollectionSize" [(page)]="payoutaddrsPage" [pageSize]="payoutaddrsPageSize"
    (pageChange)="refreshPayoutAddrs()">
  </ngb-pagination>
  </div>
</section>