<nav id="navbar-main"
  class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned">
  <div class="container">
    <a class="navbar-brand mr-lg-5" [routerLink]="['/landing']">
      <img src="./assets/img/brand/openchia_icon.png" width="30" height="29"> OpenChia.io
    </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
        <li class="nav-item">
          <a class="nav-link" role="button" [routerLink]="['/landing']">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner" i18n>Home</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" role="button" [routerLink]="['/explorer']">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner" i18n="@@Explorer">Explorer</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" role="button" [routerLink]="['/fees']">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner" i18n>Fees</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" role="button" [routerLink]="['/partners']">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner" i18n>Partners</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" role="button" [routerLink]="['/faq']">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner" i18n>FAQ</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" role="button" href="/api/doc/" target="_blank">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner" i18n>API</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav navbar-nav-hover align-items-lg-center ml-lg-auto">
        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="https://discord.gg/2URS9H7RZn" target="_blank" data-toggle="tooltip"
            title="Chat with us">
            <i class="fab fa-discord"></i>
            <span class="nav-link-inner--text d-lg-none">Discord</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="https://github.com/openchia/web" target="_blank" data-toggle="tooltip"
            title="Star us on Github">
            <i class="fab fa-github"></i>
            <span class="nav-link-inner--text d-lg-none">Github</span>
          </a>
        </li>
        <li class="nav-item d-none d-lg-block ml-lg-4">
          <a class="btn btn-neutral btn-icon" [routerLink]="['/join']">
            <span class="btn-inner--icon">
              <i class="fa fa-cloud-download mr-2"></i>
            </span>
            <span class="nav-link-inner--text" i18n="@@JoinPool">Join our pool</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="ni ni-collection d-lg-none"></i>
            <span class="nav-link-inner--text">{{ locale | uppercase }}</span>
          </a>
          <div class="dropdown-menu">
            <a href="/de/" class="dropdown-item">Deutsch</a>
            <a href="/en/" class="dropdown-item">English</a>
            <a href="/pt/" class="dropdown-item">Português</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>