<nav id="navbar-main"
  class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned">
  <div class="container">
    <a class="navbar-brand mr-lg-5" [routerLink]="['/landing']">
      <img src="./assets/img/brand/logo_white.svg" width="30" height="30"> OpenChia.io
    </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-12 collapse-close">
            <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
              [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
        <li class="nav-item">
          <a class="nav-link" role="button" [routerLink]="['/landing']">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner" i18n="@@Home">Home</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" role="button" [routerLink]="['/explorer']">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner" i18n="@@Explorer">Explorer</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" role="button" [routerLink]="['/giveaway']">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner" i18n="@@Giveaway">Giveaway</span>
          </a>
        </li>
        <li ngbDropdown class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" id="moreDropdown" role="button">
            <i class="ni ni-collection d-lg-none"></i>
            <span class="nav-link-inner" i18n="@@More">More</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="moreDropdown" ngbDropdownMenu>
            <a ngbDropdownItem class="dropdown-item" role="button" [routerLink]="['/stats']">
              <i class="ni ni-ui-04 d-lg-none"></i>
              <span class="nav-link-inner text-primary" i18n="@@Stats">Stats</span>
            </a>
            <a ngbDropdownItem class="dropdown-item" role="button" [routerLink]="['/calculator']">
              <i class="ni ni-ui-04 d-lg-none"></i>
              <span class="nav-link-inner text-primary" i18n="@@Calculator">Calculator</span>
            </a>
            <a ngbDropdownItem class="dropdown-item" role="button" [routerLink]="['/referral']">
              <i class="ni ni-ui-04 d-lg-none"></i>
              <span class="nav-link-inner text-primary" i18n="@@Referral">Referral</span>
            </a>
            <a ngbDropdownItem class="dropdown-item" role="button" [routerLink]="['/fees']">
              <i class="ni ni-ui-04 d-lg-none"></i>
              <span class="nav-link-inner text-primary" i18n="@@Fees">Fees</span>
            </a>
            <a ngbDropdownItem class="dropdown-item" role="button" href="/api/doc/" target="_blank">
              <i class="ni ni-ui-04 d-lg-none"></i>
              <span class="nav-link-inner text-primary" i18n="@@API">API</span>
            </a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav navbar-nav-hover align-items-lg-center ml-lg-auto">
        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="https://www.youtube.com/channel/UCL70j_KiPd49rfp_UEqxiyQ"
            target="_blank" data-toggle="tooltip" title="Watch us">
            <i class="fab fa-youtube"></i>
            <span class="nav-link-inner--text d-lg-none">YouTube</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="https://discord.gg/2URS9H7RZn" target="_blank" data-toggle="tooltip"
            title="Chat with us">
            <i class="fab fa-discord"></i>
            <span class="nav-link-inner--text d-lg-none">Discord</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="https://github.com/openchia/web" target="_blank" data-toggle="tooltip"
            title="Star us on Github">
            <i class="fab fa-github"></i>
            <span class="nav-link-inner--text d-lg-none">Github</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="https://twitter.com/openchia" target="_blank" data-toggle="tooltip"
            title="Follow on Twitter">
            <i class="fab fa-twitter"></i>
            <span class="nav-link-inner--text d-lg-none">Twitter</span>
          </a>
        </li>
        <li class="nav-item d-none d-lg-block ml-lg-4">
          <a class="btn btn-neutral btn-icon" [routerLink]="['/join']">
            <span class="btn-inner--icon">
              <i class="fa fa-cloud-download mr-2"></i>
            </span>
            <span class="nav-link-inner--text" i18n="@@JoinPool">Join our pool</span>
          </a>
        </li>
        <li ngbDropdown class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false" id="languageDropdown" role="button">
            <i class="ni ni-collection d-lg-none"></i>
            <span class="nav-link-inner--text">
              <span class="nav-link-inner--text">{{ locale | uppercase }}</span>
            </span>
          </a>
          <div class="dropdown-menu" aria-labelledby="languageDropdown" ngbDropdownMenu>
            <a ngbDropdownItem href="/cs/" class="dropdown-item text-primary">
              <img src="./assets/img/flags/cs.png" class="mr-2 flags" />
              Čeština
            </a>
            <a ngbDropdownItem href="/de/" class="dropdown-item text-primary">
              <img src="./assets/img/flags/de.png" class="mr-2 flags" />
              Deutsch
            </a>
            <a ngbDropdownItem href="/en/" class="dropdown-item text-primary">
              <img src="./assets/img/flags/en.png" class="mr-2 flags" />
              English
            </a>
            <a ngbDropdownItem href="/es/" class="dropdown-item text-primary">
              <img src="./assets/img/flags/es.png" class="mr-2 flags" />
              Español
            </a>
            <a ngbDropdownItem href="/fr/" class="dropdown-item text-primary">
              <img src="./assets/img/flags/fr.png" class="mr-2 flags" />
              Français
            </a>
            <a ngbDropdownItem href="/hu/" class="dropdown-item text-primary">
              <img src="./assets/img/flags/hu.png" class="mr-2 flags" />
              Magyar
            </a>
            <a ngbDropdownItem href="/pl/" class="dropdown-item text-primary">
              <img src="./assets/img/flags/pl.png" class="mr-2 flags" />
              Polski
            </a>
            <a ngbDropdownItem href="/pt/" class="dropdown-item text-primary">
              <img src="./assets/img/flags/pt.png" class="mr-2 flags" />
              Português
            </a>
            <a ngbDropdownItem href="/ru/" class="dropdown-item text-primary">
              <img src="./assets/img/flags/ru.png" class="mr-2 flags" />
              Pусский
            </a>
            <a ngbDropdownItem href="/sk/" class="dropdown-item text-primary">
              <img src="./assets/img/flags/sk.png" class="mr-2 flags" />
              Slovenčina
            </a>
            <a ngbDropdownItem href="/zh-CN/" class="dropdown-item text-primary">
              <img src="./assets/img/flags/zh-CN.png" class="mr-2 flags" />
              简体中文
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>