<nav id="navbar-main"
  class="navbar navbar-main navbar-expand-lg navbar-transparent headroom headroom--top headroom--pinned">
  <div class="container">
    <a class="navbar-brand mr-lg-5" [routerLink]="['/landing']">
      <img src="./assets/img/brand/logo_white.svg" width="30" height="30"> OpenChia.io
    </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-12 collapse-close">
            <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
              [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
        <li class="nav-item">
          <a class="nav-link" role="button" [routerLink]="['/explorer']">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner" i18n="@@Explorer">Explorer</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" role="button" [routerLink]="['/fees']">
            <span class="nav-link-inner--text" i18n="@@Fees">Fees</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" role="button" [routerLink]="['/stats']">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner--text" i18n="@@Stats">Stats</span>
          </a>
        </li>
        <li ngbDropdown class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false" id="moreDropdown" role="button">
            <i class="ni ni-collection d-lg-none"></i>
            <span class="nav-link-inner" i18n="@@More">More</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="moreDropdown" ngbDropdownMenu>
            <a ngbDropdownItem class="dropdown-item" role="button" [routerLink]="['/calculator']">
              <i class="ni ni-ui-04 d-lg-none"></i>
              <span class="nav-link-inner text-primary" i18n="@@Calculator">Calculator</span>
            </a>
            <a ngbDropdownItem class="dropdown-item" role="button" [routerLink]="['/referral']">
              <i class="ni ni-ui-04 d-lg-none"></i>
              <span class="nav-link-inner text-primary" i18n="@@Referral">Referral</span>
            </a>
            <a ngbDropdownItem class="dropdown-item" role="button" href="/api/doc/" target="_blank">
              <i class="ni ni-ui-04 d-lg-none"></i>
              <span class="nav-link-inner text-primary" i18n="@@API">API</span>
            </a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav navbar-nav-hover align-items-lg-center ml-lg-auto">
        <li *ngIf="blockchain_duststorm" class="nav-item">
          <ng-template #duststormTooltip>
            <span i18n>
              Dust storm currently affecting the blockchain. Payouts may be delayed.
            </span>
          </ng-template>
          <a class="nav-link nav-link-icon">
            <i class="fa-solid fa-triangle-exclamation fa-triangle-duststorm"
              [ngbTooltip]="duststormTooltip" placement="left auto"></i>
            <span class="nav-link-inner--text d-lg-none" i18n="@@DustStorm">Dust Storm</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-icon" (click)="darkModeToggle()" href="javascript:void(0);" data-toggle="tooltip"
            title="Toggle Dark Mode"><i #darkModeIcon class="fa-solid fa-moon"></i>
            <span class="nav-link-inner--text d-lg-none" i18n="@@DarkMode">Dark Mode</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="https://www.youtube.com/channel/UCL70j_KiPd49rfp_UEqxiyQ"
            target="_blank" data-toggle="tooltip" title="Watch us">
            <i class="fab fa-youtube"></i>
            <span class="nav-link-inner--text d-lg-none">YouTube</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="https://discord.gg/2URS9H7RZn" target="_blank" data-toggle="tooltip"
            title="Chat with us">
            <i class="fab fa-discord"></i>
            <span class="nav-link-inner--text d-lg-none">Discord</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="https://github.com/openchia/web" target="_blank" data-toggle="tooltip"
            title="Star us on Github">
            <i class="fab fa-github"></i>
            <span class="nav-link-inner--text d-lg-none">Github</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="https://twitter.com/openchia" target="_blank" data-toggle="tooltip"
            title="Follow on Twitter">
            <i class="fab fa-twitter"></i>
            <span class="nav-link-inner--text d-lg-none">Twitter</span>
          </a>
        </li>
        <li class="nav-item d-none d-lg-block ml-lg-4">
          <a class="btn btn-neutral btn-icon" [routerLink]="['/join']">
            <span class="nav-link-inner--text" i18n="@@JoinPool">Join our pool</span>
          </a>
        </li>
        <li class="nav-item d-none d-lg-block ml-lg-4">
          <a class="btn btn-neutral btn-icon" (click)="showFarmerLogin(content)">
            <span class="nav-link-inner--text">
              <i class="fa-solid fa-user"></i>
            </span>
          </a>
        </li>
        <ng-template #content let-modal>
          <div class="modal-header">
            <h4 class="modal-title">
              <i class="fa-solid fa-user"></i>&nbsp;<span i18n>How to login?</span>
            </h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.close()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="col-lg-12 text-left">
              <b i18n>OpenChia farm settings page allows to:</b>
              <br />
              &nbsp;&nbsp;- <span i18n>Edit your farm alias</span><br />
              &nbsp;&nbsp;- <span i18n>Email for notifications (any issues, ...)</span><br />
              &nbsp;&nbsp;- <span i18n>Edit missing partials notifications</span><br />
              &nbsp;&nbsp;- <span i18n>Edit payments notifications (email, mobile app)</span><br />
              &nbsp;&nbsp;- <span i18n>Edit notifications for size drop (percent or interval)</span><br />
              &nbsp;&nbsp;- <span i18n>Edit your minimum payout amount (xch)</span><br />
              &nbsp;&nbsp;- <span i18n>Edit difficulty</span><br />
              &nbsp;&nbsp;- <span i18n>Edit referrer</span><br />
              &nbsp;&nbsp;- <span i18>Get your QR code to verify farm on the mobile app (and receive push notifications)</span><br />
              <br />
              <b i18n>What is Launcher ID?</b><br />
              <span i18n>Launcher ID is how a farmer is identified for each Plot NFT. That is a long hexadecimal string and not user
                friendly. For easier identification in our pool we allow users to set a friendly name for the explorer, an alias for
                your Launcher ID.
              </span>
              <br /><br />
              <b i18n>Using the command line:</b><br />
              &nbsp;&nbsp;- <span i18n>Grab your Launcher ID:</span>&nbsp;<code>chia plotnft show</code><br />
              &nbsp;&nbsp;- <span i18n>With your Launcher ID, get the link:</span>&nbsp;<code>chia plotnft get_login_link -l LAUNCHER_ID</code><br />
              &nbsp;&nbsp;- <span i18n>Open link in your browser, and configure your settings</span>
              <br /><br />
              <b i18n>Using the GUI:</b><br />
              &nbsp;&nbsp;- <span i18n>Under Pools menu, select your Plot NFT</span><br />
              &nbsp;&nbsp;- <span i18n>Click the 3 dot menu and the View pool login link, and copy link</span><br />
              &nbsp;&nbsp;- <span i18n>Open link in your browser, and configure your settings</span>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="modal.close()">Close</button>
          </div>
        </ng-template>
        <li ngbDropdown class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false" id="languageDropdown" role="button">
            <i class="ni ni-collection d-lg-none"></i>
            <span class="nav-link-inner--text">
              <span class="nav-link-inner--text">{{ locale | uppercase }}</span>
            </span>
          </a>
          <div class="dropdown-menu" aria-labelledby="languageDropdown" ngbDropdownMenu>
            <a ngbDropdownItem href="/cs/" class="dropdown-item text-primary">
              <span class="mr-2 flags fi fi-cz"></span> Čeština
            </a>
            <a ngbDropdownItem href="/de/" class="dropdown-item text-primary">
              <span class="mr-2 flags fi fi-de"></span> Deutsch
            </a>
            <a ngbDropdownItem href="/en/" class="dropdown-item text-primary">
              <span class="mr-2 flags fi fi-us"></span> English
            </a>
            <a ngbDropdownItem href="/es/" class="dropdown-item text-primary">
              <span class="mr-2 flags fi fi-es"></span> Español
            </a>
            <a ngbDropdownItem href="/fr/" class="dropdown-item text-primary">
              <span class="mr-2 flags fi fi-fr"></span> Français
            </a>
            <a ngbDropdownItem href="/hu/" class="dropdown-item text-primary">
              <span class="mr-2 flags fi fi-hu"></span> Magyar
            </a>
            <a ngbDropdownItem href="/pl/" class="dropdown-item text-primary">
              <span class="mr-2 flags fi fi-pl"></span> Polski
            </a>
            <a ngbDropdownItem href="/pt/" class="dropdown-item text-primary">
              <span class="mr-2 flags fi fi-pt"></span> Português
            </a>
            <a ngbDropdownItem href="/ru/" class="dropdown-item text-primary">
              <span class="mr-2 flags fi fi-ru"></span> Pусский
            </a>
            <a ngbDropdownItem href="/sk/" class="dropdown-item text-primary">
              <span class="mr-2 flags fi fi-sk"></span> Slovenčina
            </a>
            <a ngbDropdownItem href="/zh-CN/" class="dropdown-item text-primary">
              <span class="mr-2 flags fi fi-cn"></span> 简体中文
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
