<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped">
      <nav class="navbar navbar-expand-sm navbar-light container" *ngIf="false">
        <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
          <li class="nav-item">
            <a class="nav-link" role="button" [routerLink]="['/explorer']">
              <i class="ni ni-ui-04 d-lg-none"></i>
              <span class="nav-link-inner">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" role="button" [routerLink]="['/explorer']">
              <i class="ni ni-ui-04 d-lg-none"></i>
              <span class="nav-link-inner">Explorer</span>
            </a>
          </li>
        </ul>
      </nav>
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
          xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-bg" points="560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>
  <router-outlet></router-outlet>
</main>