<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>
  <section class="section section-lg pt-lg-0 mt--200">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-lg-3">
              <div class="card card-lift shadow border-0">
                <div class="card-body py-4">
                  <h6 class="text-primary text-uppercase" i18n>Pool Space</h6>
                  <p class="description mt-3" i18n>{{ pool_space / 1024 / 1024 / 1024 | number }} GiB</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="card card-lift shadow border-0">
                <div class="card-body py-4">
                  <h6 class="text-success text-uppercase" i18n>Estimate To Win</h6>
                  <p class="description mt-3" i18n>{{ estimate_win * 60 * 24 | number }} days</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="card card-lift shadow border-0">
                <div class="card-body py-4">
                  <h6 class="text-warning text-uppercase" i18n>Blocks Farmed</h6>
                  <p class="description mt-3" i18n>{{ rewards_blocks }} blocks</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="card card-lift shadow border-0">
                <div class="card-body py-4">
                  <h6 class="text-info text-uppercase" i18n>Total Farmers</h6>
                  <p class="description mt-3" i18n>{{ farmers }} farmers</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-sm pt-sm">
    <div class="container">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Launcher ID</th>
          <th scope="col">Points</th>
          <th scope="col">% of total</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let launcher of launchers$ | async; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ launcher.launcher_id }}</td>
          <td>{{ launcher.points }}</td>
          <td>{{ launcher.points_of_total }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </section>
  <section class="section section-sm">
    <div class="container">
      <h2 class="display-3" i18n>Pool server real-time log</h2>
      <h5 class="display-5" style="color: red;" i18n>Waiting for blockchain to sync</h5>
      <div class="container"><pre [innerHTML]="poolLog"></pre>
      </div>
    </div>
  </section>
</main>
