<section class="section section-sm pt-sm">
  <div class="container">
    <div *ngIf="farmer.is_pool_member===false" class="alert alert-warning" role="alert">
      <strong i18n="@@Warning">Warning</strong>: <span i18n>farmer doesn't exist, has left and/or has been
        removed.</span>
    </div>
    <h3 class="display-3" i18n>Farmer Details</h3>
    <table class="table table-sm table-striped table-responsive-lg">
      <tbody>
        <tr>
          <th i18n>Friendly Name</th>
          <td>
            <span *ngIf="farmer.name">{{ farmer.name }}</span>
            <ng-template #notsetTooltip>
              <a href="https://blog.openchia.io/2021/07/27/howto-set-name.html" target="_blank" i18n>Learn how to set
                name here.</a>
            </ng-template>
            <span *ngIf="!farmer.name">
              (not set) <i class="fas fa-info-circle" closeDelay="4000" [ngbTooltip]="notsetTooltip"></i>
            </span>
          </td>
          <th i18n="@@Points">Points</th>
          <td>{{ farmer.points }} ({{ farmer.points_of_total }}%)</td>
        </tr>
        <tr>
          <th i18n>Launcher ID</th>
          <td colspan="3">{{ farmer.launcher_id }}</td>
        </tr>
        <tr>
          <th i18n="@@Difficulty">Difficulty</th>
          <td>{{ farmer.difficulty }}</td>
          <th><span i18n>Estimated Size </span><i class="fas fa-info-circle"
              ngbTooltip="Be aware this is a rough estimate and will vary based on the partials sent for the last 24 hours! This is by no means a representation of your actual farm size."></i>
          </th>
          <td>{{ farmer.estimated_size || 0 | filesize:{"standard": "iec"} }}</td>
        </tr>
        <tr>
          <th i18n="@@Joined">Joined At</th>
          <td>
            <span *ngIf="farmer.joined_at">{{ farmer.joined_at | date:"medium" }}</span>
            <span *ngIf="!farmer.joined_at" i18n>
              (unknown) <i class="fas fa-info-circle"
                ngbTooltip="Unknown because this user arrived before the integration of this function in pool."></i>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
    <br />
    <ul ngbNav #nav="ngbNav" [(activeId)]="tabActive" class="nav-tabs navbar-inverse">
      <li [ngbNavItem]="1">
        <a class="display-4" ngbNavLink i18n="@@Partials">Partials</a>
        <ng-template ngbNavContent>
          <div class="row justify-content-center">
            <ngx-charts-area-chart [scheme]="colorScheme" [legend]="true" [showXAxisLabel]="true"
              [showYAxisLabel]="true" [xAxis]="true" [yAxis]="true" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
              [timeline]="false" [results]="partialsData" [xAxisTickFormatting]="partialsXAxisFormat"
              [xAxisTicks]="partialsXTicks">
            </ngx-charts-area-chart>
          </div>
          <br />
          <div class="row justify-content-center">
            <div class="col-lg-12">
              <div class="row row-grid">
                <div class="col-lg-2 justify-content-center">
                  <div class="card card-lift shadow border-0">
                    <div class="card-body py-3 text-center text-uppercase">
                      <span class="text-primary"><span i18n="@@Partials">Partials</span><br />(<span i18n="@@Hrs24">24
                          hours</span>)</span>
                      <p class="display-3">{{ partialsCollectionSize }}</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2 justify-content-center">
                  <div class="card card-lift shadow border-0">
                    <div class="card-body py-3 text-center text-uppercase">
                      <span class="text-primary"><span i18n="@@Points">Points</span><br />(<span i18n="@@Hrs24">24
                          hours</span>)</span>
                      <p class="display-3">{{ partialsPoints }}</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2 justify-content-center">
                  <div class="card card-lift shadow border-0">
                    <div class="card-body py-3 text-center text-uppercase">
                      <span class="text-primary"><span i18n="@@Successful">Successful</span><br /><span
                          i18n="@@Partials">Partials</span></span>
                      <p class="display-3">{{ partialsSuccessful }}</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2 justify-content-center">
                  <div class="card card-lift shadow border-0">
                    <div class="card-body py-3 text-center text-uppercase">
                      <span class="text-warning"><span i18n="@@Failed">Failed</span><br /><span
                          i18n="@@Partials">Partials</span></span>
                      <p class="display-3">{{ partialsFailed }}</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2 justify-content-center">
                  <div class="card card-lift shadow border-0">
                    <div class="card-body py-3 text-center text-uppercase">
                      <span class="text-info"><span i18n="@@Partials">Partials</span><br /><span
                          i18n="@@Performance">Performance</span></span>
                      <p class="display-3"
                        ngbTooltip="{{ 100 - ( partialsFailed * 100 / partialsSuccessful ) | number:'2.6' }}%">{{ 100 -
                        ( partialsFailed * 100 / partialsSuccessful ) | number:'2.1-1' }}%</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2 justify-content-center">
                  <div class="card card-lift shadow border-0">
                    <div class="card-body py-3 text-center text-uppercase">
                      <span class="text-primary"><span i18n="@@Harversters">Harvesters</span><br /><span
                          i18n="@@Count">Count</span></span>
                      <p class="display-3">{{ harvesters.size }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br />
          <div class="row justify-content-left">
            <div class="col-lg-12">
              <h4 class="display-3" i18n>Partials</h4>
              <label>
                <input class="btn" type="checkbox" [checked]="failedPartials" (change)="toggleFailedPartials($event)"
                  value="TEST" /><span i18n>Show
                  failed partials only</span>
              </label>
            </div>
          </div>
          <br />
          <table class="table table-sm table-striped table-responsive-lg">
            <thead>
              <tr>
                <th scope="col" i18n="@@Date">Date</th>
                <th scope="col" i18n="@@Difficulty">Difficulty</th>
                <th scope="col" i18n>Harvester ID</th>
                <th scope="col" i18n>State</th>
              </tr>
            </thead>
            <tbody *ngIf="partialsTable">
              <tr
                *ngFor="let partial of partialsFiltered | slice: (partialsPage-1) * partialsPageSize : partialsPage * partialsPageSize"
                [class]="(partial.error && !failedPartials) ? 'partialErrorRow' : ''">
                <td>{{ partial.timestamp * 1000 | date:"medium" }}</td>
                <td>{{ partial.difficulty }}</td>
                <td ngbTooltip="{{ partial.harvester_id }}" placement="left" container="body">{{ partial.harvester_id |
                  maxLength:20 }}</td>
                <td *ngIf="partial.error==='INVALID_TOO_LATE'">{{ partial.error }} <i class="fas fa-info-circle"
                    ngbTooltip="Farmer took too long to validate the partial proof of space."></i></td>
                <td *ngIf="partial.error==='DOUBLE_SIGNAGE_POINT'">{{ partial.error }} <i class="fas fa-info-circle"
                    ngbTooltip="Same partial proof was sent more than once."></i></td>
                <td *ngIf="partial.error==='INVALID_SIGNAGE_OR_EOS'">{{ partial.error }} <i class="fas fa-info-circle"
                    ngbTooltip="Signage point is invalid or was not found in pool's node blockchain."></i></td>
                <td *ngIf="partial.error==='PROOF_NOT_GOOD_ENOUGH'">{{ partial.error }} <i class="fas fa-info-circle"
                    ngbTooltip="The proof sent is not good enough for the current difficulty of the farmer."></i></td>
                <td *ngIf="partial.error==='SINGLETON_NOT_POOL'">{{ partial.error }} <i class="fas fa-info-circle"
                    ngbTooltip="Plot NFT (pool smart contract) no longer in the pool."></i></td>
                <td
                  *ngIf="partial.error && !['SINGLETON_NOT_POOL', 'INVALID_SIGNAGE_OR_EOS', 'DOUBLE_SIGNAGE_POINT', 'INVALID_TOO_LATE', 'PROOF_NOT_GOOD_ENOUGH'].includes(partial.error)">
                  {{ partial.error }} <i class="fas fa-info-circle" ngbTooltip="This error is not referenced."></i></td>
                <td *ngIf="!partial.error">OK</td>
              </tr>
              <tr *ngIf="partialsFiltered.length == 0">
                <td colspan="4" i18n>No partials found!</td>
              </tr>
            </tbody>
          </table>
          <div class="d-flex justify-content-between p-2">
            <ngb-pagination [collectionSize]="partialsFiltered.length" [(page)]="partialsPage"
              [pageSize]="partialsPageSize">
            </ngb-pagination>
          </div>
        </ng-template>
      </li>
      <li class="display-4" [ngbNavItem]="2">
        <a ngbNavLink>Payouts</a>
        <ng-template ngbNavContent>
          <br/>
          <div class="row justify-content-center">
            <div class="col-lg-12">
              <div class="row row-grid">
                <div class="col-lg-4 justify-content-center">
                  <div class="card card-lift shadow border-0">
                    <div *ngIf="payoutaddrs$ | async; let payoutaddrs" class="card-body py-3 text-center text-uppercase">
                      <span class="text-primary"><span i18n="">Total transaction(s)</span></span>
                      <p class="display-3">{{ payoutaddrs.length }}</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 justify-content-center">
                  <div class="card card-lift shadow border-0">
                    <div *ngIf="(payoutaddrs$ | async) as payoutaddrs" class="card-body py-3 text-center text-uppercase">
                      <span class="text-primary"><span i18n="">Total payout(s)</span></span>
                      <p class="display-3">{{ payoutGetTotalAmount(payoutaddrs) / 1000000000000 | number:'1.8' }} XCH</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 justify-content-center">
                  <div class="card card-lift shadow border-0">
                    <div *ngIf="(payoutaddrs$ | async) as payoutaddrs" class="card-body py-3 text-center text-uppercase">
                      <span class="text-primary"><span i18n="">Export CSV</span></span>
                      <p class="display-3">
                        <button *ngIf="payoutaddrs.length>=1" class="btn btn-neutral btn-icon" (click)="payoutDownloadCSV(payoutaddrs)">Download</button>
                        <button *ngIf="payoutaddrs.length==0" disabled class="btn btn-warning btn-icon" (click)="payoutDownloadCSV(payoutaddrs)">No payout</button>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br/>
          <table class="table table-sm table-striped table-responsive-lg">
            <thead>
              <tr>
                <th scope="col" i18n="@ID">ID</th>
                <th scope="col" i18n="@@Transaction">Transaction</th>
                <th scope="col" i18n="@@Date">Date</th>
                <th scope="col" i18n="@@TransactionBlock">Transaction Block</th>
                <th scope="col" i18n="@@Amount">Amount</th>
              </tr>
            </thead>
            <tbody *ngIf="(payoutaddrs$ | async) as payoutaddrs;">
              <tr *ngFor="let payoutaddr of payoutaddrs; let i = index">
                <td>{{ payoutaddr.id }}</td>
                <td>{{ payoutaddr.transaction }}</td>
                <td>{{ payoutaddr.payout.datetime | date:"medium" }}</td>
                <td>{{ payoutaddr.confirmed_block_index }}</td>
                <td>{{ payoutaddr.amount / 1000000000000 }} XCH</td>
              </tr>
              <tr *ngIf="payoutaddrs.length == 0">
                <td colspan="5" i18n="@@NoPayouts">No payouts found!</td>
              </tr>
            </tbody>
          </table>
          <div class="d-flex justify-content-between p-2">
            <ngb-pagination [collectionSize]="payoutsCollectionSize" [(page)]="payoutsPage" [pageSize]="payoutsPageSize"
              (pageChange)="refreshPayouts()">
            </ngb-pagination>
          </div>
        </ng-template>
      </li>
      <li class="display-4" [ngbNavItem]="3">
        <a ngbNavLink>Blocks</a>
        <ng-template ngbNavContent>
          <table class="table table-sm table-striped table-responsive-lg">
            <thead>
              <tr>
                <th scope="col" i18n="@@Height">Height</th>
                <th scope="col" i18n="@@Date">Date</th>
                <th scope="col" i18n="@@Amount">Amount</th>
              </tr>
            </thead>
            <tbody *ngIf="(blocks$ | async) as blocks;">
              <tr *ngFor="let block of blocks; let i = index">
                <td>{{ block.confirmed_block_index }}</td>
                <td>{{ block.timestamp * 1000 | date:"medium" }}</td>
                <td>{{ block.amount / 1000000000000 }} XCH</td>
              </tr>
              <tr *ngIf="blocks.length == 0">
                <td colspan="3" i18n>No blocks found by this farmer!</td>
              </tr>
            </tbody>
          </table>
          <div class="d-flex justify-content-between p-2">
            <ngb-pagination [collectionSize]="blocksCollectionSize" [(page)]="blocksPage" [pageSize]="blocksPageSize"
              (pageChange)="refreshBlocks()">
            </ngb-pagination>
          </div>
        </ng-template>
      </li>
      <li class="display-4" [ngbNavItem]="4">
        <a ngbNavLink>Giveaways</a>
        <ng-template ngbNavContent>
          <table class="table table-sm table-striped table-responsive-lg">
            <thead>
              <tr>
                <th scope="col">Draw Date</th>
                <th scope="col">Winner</th>
                <th scope="col">Amount</th>
                <th scope="col">Tickets Issued</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let giveaway of giveaways; let i = index">
                <td>{{ giveaway.draw_datetime | date:"medium" }}</td>
                <td>{{ giveaway.winner || "To be defined" }}</td>
                <td>{{ giveaway.prize_amount / 1000000000000 }} XCH</td>
                <td>{{ giveaway.issued_tickets }} (<a href="javascript:void();" (click)="openGiveaway(content)">Show
                    mine</a>)</td>
              </tr>
              <tr *ngIf="giveaways.length == 0">
                <td colspan="3" i18n>No giveaways available!</td>
              </tr>
            </tbody>
          </table>
          <ng-template #content let-modal>
            <div class="modal-header">
              <h4 class="modal-title">Tickets</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <table class="table table-sm table-striped table-responsive-lg">
                <thead>
                  <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Estimated Size</th>
                    <th scope="col">Tickets Issued</th>
                  </tr>
                </thead>
                <tbody *ngFor="let ticket of (ticketsRound$ | async); let i = index">
                  <tr>
                    <td>{{ ticket.created_at | date:"short" }}</td>
                    <td>{{ ticket.estimated_size | filesize:{"standard": "iec"} }}</td>
                    <td>{{ ticket.number_tickets }}</td>
                  </tr>
                  <tr>
                    <td colspan="3"><span *ngFor="let t of ticket.tickets">{{ t }} </span></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
            </div>
          </ng-template>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>
</section>