.partial-error-row {
  font-weight: bold;
  color: #ff0000;
}

.fa-partial-error {
  color: #ff0000 !important;
}

.btn-openchia {
  background-color: #129b00;
  border-color: #129b00;
  color: white;
}

.fa-copy-farmer {
  padding-right: 4px;
}

.fa-check-farmer {
  color: #129b00
}
