.partial-error-row {
  font-weight: bold;
  color: #ff0000;
}

.fa-partial-error {
  color: #ff0000 !important;
}

.fa-copy-farmer {
  padding-right: 4px;
}

.fa-check-farmer {
  color: #129b00
}

.fa-circle-down-color {
  color: #e84256;
}

.fa-circle-up-color {
  color: #00b87a;
}
