<section class="section section-sm pt-sm">
  <div *ngIf="!farmer.launcher_id" class="container">
    <div class="alert alert-warning alert-delay-1s" role="alert">
      <strong i18n="@@Warning">Warning</strong>: <span i18n>farmer doesn't exist (404).</span>
    </div>
  </div>
  <div *ngIf="farmer.launcher_id" class="container">
    <div *ngIf="farmer.is_pool_member===false" class="alert alert-warning" role="alert">
      <strong i18n="@@Warning">Warning</strong>: <span i18n>farmer doesn't exist, has left and/or has been
        removed.</span>
    </div>
    <h3 class="display-3" i18n>Farmer Details</h3>
    <table class="table table-sm table-striped table-responsive-lg">
      <tbody>
        <tr>
          <th i18n>Launcher ID</th>
          <td colspan="3">{{ farmer.launcher_id }}</td>
        </tr>
        <tr>
          <th i18n>Friendly Name</th>
          <td>
            <span *ngIf="farmer.name">{{ farmer.name }}</span>
            <ng-template #notsetTooltip>
              <a href="https://blog.openchia.io/2021/07/27/howto-set-name.html" target="_blank" i18n>Learn how to set
                name here.</a>
            </ng-template>
            <span *ngIf="!farmer.name">
              (not set) <i class="fas fa-info-circle" closeDelay="4000" [ngbTooltip]="notsetTooltip"></i>
            </span>
          </td>
          <th i18n="@@FirstLastJoined">First/Last Joined At</th>
          <td>
            <span *ngIf="farmer.joined_at">{{ farmer.joined_at | date:"medium" }}</span>
            <span *ngIf="!farmer.joined_at" i18n>
              (unknown) <i class="fas fa-info-circle"
                ngbTooltip="Unknown because this user arrived before the integration of this function in pool."></i>
            </span>
            /
            <span *ngIf="farmer.joined_last_at">{{ farmer.joined_last_at | date:"medium" }}</span>
            <span *ngIf="!farmer.joined_last_at" i18n>
              (unknown) <i class="fas fa-info-circle"
                ngbTooltip="Unknown because this user arrived before the integration of this function in pool."></i>
            </span>
          </td>
        </tr>
        <tr>
          <th i18n="@@ClientVersion">Client Version</th>
          <td *ngIf="partialsFiltered[0]">{{ partialsFiltered[0].chia_version }}</td>
          <td *ngIf="!partialsFiltered[0]" i18n>Unknown</td>
          <th i18n="@@PoolConnected">Pool Connected</th>
          <td *ngIf="partialsFiltered[0]">{{ partialsFiltered[0].pool_host }}</td>
          <td *ngIf="!partialsFiltered[0]" i18n>Unknown</td>
        </tr>
        <tr>
          <th i18n="@@Difficulty">Difficulty</th>
          <td>{{ farmer.difficulty }}</td>
          <th><span i18n>Estimated Size</span>&nbsp;<i class="fas fa-info-circle"
              ngbTooltip="Be aware this is a rough estimate and will vary based on the partials sent for the last 24 hours! This is by no means a representation of your actual farm size."></i>
          </th>
          <td>{{ farmer.estimated_size || 0 | filesize:{"base": 2, "standard": "iec" } }} (<span i18n>{{
              farmer.share_pplns * 100 | number:"2.3" }}% of pool</span>)</td>
        </tr>
        <tr>
          <th i18n>Points (PPLNS)</th>
          <td>{{ farmer.points_pplns }}</td>
          <th i18n>Effective Fee</th>
          <td>{{ farmer.fee.final * 100 | number:".4"}}%</td>
        </tr>
        <tr>
          <th><span i18n>Estimated Time to Win (ETW)</span>&nbsp;
            <ng-template #etwTooltip>
              <span i18n>Based on farmer estimated size and netspace. This value may vary significantly.</span>
            </ng-template>
            <i class="fas fa-info-circle" [ngbTooltip]="etwTooltip"></i>
          </th>
          <td *ngIf="farmer.current_etw">{{ humanize(farmer.current_etw * 1000) }}</td>
          <td *ngIf="!farmer.current_etw" i18n>Unknown</td>
          <th><span i18n>Current Effort</span>&nbsp;
            <ng-template #currentEffortTooltip>
              <span i18n>Estimate based on last block farmed and current estimated time to win. If the farmer never
                farmed
                one block then the creation date of the Plot NFT is used as a starting point.</span>
            </ng-template>
            <i class="fas fa-info-circle" [ngbTooltip]="currentEffortTooltip"></i>
          </th>
          <td *ngIf="(farmer.current_effort || 0) > 0">{{ farmer.current_effort | number }}%</td>
          <td *ngIf="farmer.current_effort == null" i18n>Unknown</td>
        </tr>
        <tr>
          <th scope="col"><span i18n="@@EstimatedRewardDay">Estimated Reward</span>
            <ng-template #estimatedrewardDayTooltip>
              <span i18n>Profitability based on blocks farmed on last 30 days, based on your farm space.</span>
            </ng-template>
            &nbsp;<i class="fas fa-info-circle" closeDelay="4000" [ngbTooltip]="estimatedrewardDayTooltip"></i>
          </th>
          <td>
            {{ xch_tb_month * (farmer.estimated_size / 1024 / 1024 / 1024 / 1024) | number:".4" }} XCH / <span i18n>day</span>
            (${{ xch_current_price_usd * (xch_tb_month * (farmer.estimated_size / 1024 / 1024 / 1024 / 1024)) |
            number:".2" }})
          </td>
          <td>
            {{ xch_tb_month * (farmer.estimated_size / 1024 / 1024 / 1024 / 1024) * 7 | number:".4" }} XCH / <span i18n>week</span>
            (${{ xch_current_price_usd * (xch_tb_month * (farmer.estimated_size / 1024 / 1024 / 1024 / 1024) * 7) |
            number:".2" }})
          </td>
          <td>
            {{ xch_tb_month * (farmer.estimated_size / 1024 / 1024 / 1024 / 1024) * 31 | number:".4" }} XCH / <span i18n>month</span>
            (${{ xch_current_price_usd * (xch_tb_month * (farmer.estimated_size / 1024 / 1024 / 1024 / 1024) * 31) |
            number:".2" }})
          </td>
        </tr>
        <tr>
          <th scope="col"><span i18n="@@EarnedRewardDay">Earned Reward</span>
            <ng-template #earnedrewardDayTooltip>
              <span i18n>Icons <i class="fas fa-caret-down fa-caret-down-color"></i> and <i class="fas fa-caret-up fa-caret-up-color"></i>
              are based from estimated rewards. Value rounded to 4 decimal (show details on <b>Rewards</b> tab).</span>
            </ng-template>
            &nbsp;<i class="fas fa-info-circle" closeDelay="4000" [ngbTooltip]="earnedrewardDayTooltip"></i>
          </th>
          <td>
            {{ farmer.rewards.last_24h / 1000000000000 | number:".4" }} XCH / <span i18n>day</span>&nbsp;
            <i *ngIf="(xch_tb_month * (farmer.estimated_size / 1024 / 1024 / 1024 / 1024)) > (farmer.rewards.last_24h / 1000000000000)"
              class="fas fa-caret-down fa-caret-down-color"></i>
            <i *ngIf="(xch_tb_month * (farmer.estimated_size / 1024 / 1024 / 1024 / 1024)) < (farmer.rewards.last_24h / 1000000000000)"
              class="fas fa-caret-up fa-caret-up-color"></i>
          </td>
          <td>
            {{ farmer.rewards.last_7d / 1000000000000 | number:".4" }} XCH / <span i18n>week</span>&nbsp;
            <i *ngIf="(xch_tb_month * (farmer.estimated_size / 1024 / 1024 / 1024 / 1024) * 7) > (farmer.rewards.last_7d / 1000000000000)"
              class="fas fa-caret-down fa-caret-down-color"></i>
            <i *ngIf="(xch_tb_month * (farmer.estimated_size / 1024 / 1024 / 1024 / 1024) * 7) < (farmer.rewards.last_7d / 1000000000000)"
              class="fas fa-caret-up fa-caret-up-color"></i>
          </td>
          <td>
            {{ farmer.rewards.last_30d / 1000000000000 | number:".4" }} XCH / <span i18n>month</span>&nbsp;
            <i *ngIf="(xch_tb_month * (farmer.estimated_size / 1024 / 1024 / 1024 / 1024) * 31) > (farmer.rewards.last_30d / 1000000000000)"
              class="fas fa-caret-down fa-caret-down-color"></i>
            <i *ngIf="(xch_tb_month * (farmer.estimated_size / 1024 / 1024 / 1024 / 1024) * 31) < (farmer.rewards.last_30d / 1000000000000)"
              class="fas fa-caret-up fa-caret-up-color"></i>
          </td>
        </tr>
      </tbody>
    </table>
    <br />
    <ul ngbNav #nav="ngbNav" [(activeId)]="tabActive" class="nav-tabs navbar-inverse">

      <!-- Partials -->
      <li [ngbNavItem]="1">
        <a ngbNavLink><i class="fa fa-industry"></i>&nbsp;<span i18n="@@Partials">Partials</span></a>
        <ng-template ngbNavContent>
          <div class="row justify-content-center">
            <ngx-charts-area-chart [scheme]="partialsChartColors" [legend]="false" [showXAxisLabel]="false"
              [showYAxisLabel]="true" [xAxis]="true" [yAxis]="true" [xAxisLabel]="partialsXAxisLabel"
              [yAxisLabel]="partialsYAxisLabel" [timeline]="false" [results]="partialsData"
              [xAxisTickFormatting]="partialsXAxisFormat" [xAxisTicks]="partialsXTicks" [gradient]="partialsGradient">
            </ngx-charts-area-chart>
          </div>
          <br />
          <div class="row justify-content-center">
            <div class="col-lg-12">
              <div class="row row-grid">
                <div class="col-lg-2 justify-content-center">
                  <div class="card card-lift shadow border-0">
                    <div class="card-body py-3 text-center text-uppercase">
                      <span class="text-primary"><span i18n="@@Partials">Partials</span><br />(<span i18n="@@Hrs24">24
                          hours</span>)</span>
                      <p class="display-3">{{ partialsCollectionSize }}</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2 justify-content-center">
                  <div class="card card-lift shadow border-0">
                    <div class="card-body py-3 text-center text-uppercase">
                      <span class="text-primary"><span i18n="@@Points">Points</span><br />(<span i18n="@@Hrs24">24
                          hours</span>)</span>
                      <p class="display-3">{{ partialsPoints }}</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2 justify-content-center">
                  <div class="card card-lift shadow border-0">
                    <div class="card-body py-3 text-center text-uppercase">
                      <span class="text-primary"><span i18n="@@SuccessfulPartials_preline"
                          style="word-spacing: 300px">Successful
                          Partials</span></span>
                      <p class="display-3">{{ partialsSuccessful }}</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2 justify-content-center">
                  <div class="card card-lift shadow border-0">
                    <div class="card-body py-3 text-center text-uppercase">
                      <span class="text-warning"><span i18n="@@FailedPartials_preline"
                          style="word-spacing: 300px">Failed
                          Partials</span></span>
                      <p class="display-3">{{ partialsFailed }}</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2 justify-content-center">
                  <div class="card card-lift shadow border-0">
                    <div class="card-body py-3 text-center text-uppercase">
                      <span class="text-info"><span i18n="@@Partials">Partials</span><br /><span
                          i18n="@@Performance">Performance</span></span>
                      <p class="display-3"
                        ngbTooltip="{{ 100 - ( partialsFailed * 100 / partialsSuccessful ) | number:'2.6' }}%">{{ 100 -
                        ( partialsFailed * 100 / partialsSuccessful ) | number:'2.1-1' }}%</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2 justify-content-center">
                  <div class="card card-lift shadow border-0">
                    <div class="card-body py-3 text-center text-uppercase">
                      <span class="text-primary"><span i18n="@@HarvesterCount_preline"
                          style="word-spacing: 300px">Harvester
                          Count</span></span>
                      <p class="display-3">{{ harvesters.size }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br />
          <div class="row justify-content-left">
            <div class="col-lg-12">
              <h4 class="display-3" i18n>Partials</h4>
              <label>
                <input class="btn" type="checkbox" [checked]="failedPartials" (change)="toggleFailedPartials($event)"
                  value="none" /><span i18n>Show
                  failed partials only</span>
              </label>
            </div>
          </div>
          <br />
          <table class="table table-sm table-striped table-responsive-lg">
            <thead>
              <tr>
                <th scope="col" i18n="@@Date">Date</th>
                <th scope="col" i18n="@@Difficulty">Difficulty</th>
                <th scope="col" i18n>Harvester ID</th>
                <th scope="col" i18n>Plot ID</th>
                <th scope="col" i18n>State</th>
              </tr>
            </thead>
            <tbody *ngIf="partialsTable">
              <tr
                *ngFor="let partial of partialsFiltered | slice: (partialsPage-1) * partialsPageSize : partialsPage * partialsPageSize"
                [class]="(partial.error && !failedPartials) ? 'partial-error-row' : ''">
                <td>{{ partial.timestamp * 1000 | date:"medium" }}</td>
                <td>{{ partial.difficulty }}</td>
                <td>
                  <i class="fas fa-copy fa-copy-farmer" (click)="copyToClipboard(partial.harvester_id)"
                    ngbTooltip="Copy Harvester ID" placement="top" container="body"></i>
                  <span ngbTooltip="{{ partial.harvester_id }}" placement="top" container="body">
                    {{ partial.harvester_id | maxLength:20 }}
                  </span>
                </td>
                <td>
                  <i class="fas fa-copy fa-copy-farmer" (click)="copyToClipboard(partial.plot_id)"
                    ngbTooltip="Copy Plot ID" placement="top" container="body"></i>
                  <span ngbTooltip="{{ partial.plot_id }}" placement="top" container="body">
                    {{ partial.plot_id | maxLength:20 }}
                  </span>
                </td>
                <td *ngIf="partial.error">{{ partial.error }} <a href="javascript:void();"
                    (click)="showPartialError(content)"><i class="fas fa-info-circle fa-partial-error"></i></a>
                <td *ngIf="!partial.error"><i class="fas fa-check fa-check-farmer"></i></td>
              </tr>
              <tr *ngIf="partialsFiltered.length == 0">
                <td colspan="5" i18n>No partials found!</td>
              </tr>
            </tbody>
          </table>
          <div class="d-flex justify-content-between p-2">
            <ngb-pagination [collectionSize]="partialsFiltered.length" [(page)]="partialsPage"
              [pageSize]="partialsPageSize">
            </ngb-pagination>
          </div>
        </ng-template>
        <ng-template #content let-modal>
          <div class="modal-header">
            <h4 class="modal-title">Partial error details</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table table-sm table-striped table-responsive-lg">
              <thead>
                <tr>
                  <th scope="col" i18n>Error</th>
                  <th scope="col" i18n>Details</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>INVALID_TOO_LATE</td>
                  <td i18n>
                    Farmer took too long to validate the partial proof of space. Make sure your proof of space lookups
                    are fast,
                    and network connectivity is good. Response must happen in less than 25 seconds. Your NAS or network
                    farming
                    can be an issue. This happens when your disks are in use (plotting) or when waking up.
                  </td>
                </tr>
                <tr>
                  <td>DOUBLE_SIGNAGE_POINT</td>
                  <td i18n>Same partial proof was sent more than once. Can happen if there are duplicated plots being
                    harvested or a signage point was advertised twice in the blockchain. Resolution: Verify the same
                    plot id is not present in different harvesters. If you see this only every once in a while you can
                    ignore this error.</td>
                </tr>
                <tr>
                  <td>INVALID_SIGNAGE_OR_EOS</td>
                  <td i18n>Signage point is invalid or was not found in pool's node blockchain. Resolution: make sure
                    your node is synced and connected to enough peers.</td>
                </tr>
                <tr>
                  <td>PROOF_NOT_GOOD_ENOUGH</td>
                  <td i18n>The proof sent is not good enough for the current difficulty of the farmer. It may happen
                    when there is a difficulty change in the pool and there were partials already in the queue to be
                    processed. Resolution: No action needed, it should correct itself. If the problem persists contact a
                    pool operator.</td>
                </tr>
                <tr>
                  <td>SINGLETON_NOT_POOL</td>
                  <td i18n>Plot NFT (pool smart contract) no longer in the pool. Farmer left the pool. Resolution: Leave
                    and rejoin the pool.</td>
                </tr>
                <tr>
                  <td>INVALID_SINGLETON</td>
                  <td i18n>The Plot NFT is in an invalid state. Resolution: Leave and rejoin the pool.</td>
                </tr>
                <tr>
                  <td>SP_REVERTED</td>
                  <td i18n>Can happen when the node is on high load with block propagation delays, resulting in forked
                    sidechains. Resolution: Make sure you are running the latest Chia version and that your computer has
                    the minimal requirements to run a full node.</td>
                </tr>
                <tr>
                  <td>EOS_REVERTED</td>
                  <td i18n>Same as SP_REVERTED. Can happen when the node is on high load with block propagation delays,
                    resulting in forked sidechains. Resolution: Make sure you are running the latest Chia version and
                    that your computer has the minimal requirements to run a full node.</td>
                </tr>
                <tr>
                  <td>INVALID_POOL_CONTRACT</td>
                  <td i18n>The pool contract address for the partial does not match the value in the pool database.
                    Resolution: Leave and rejoin the pool. If the issue persists contact a pool operator.</td>
                </tr>
                <tr>
                  <td>INVALID_PROOF_OF_SPACE</td>
                  <td i18n>The partial proof is not valid. Resolution: Make sure your are running the latest version of
                    Chia.</td>
                </tr>
                <tr>
                  <td>INVALID_AGG_SIGNATURE</td>
                  <td i18n>The signature of the farmer does not match the farmer in the database. Resolution: Stop the
                    farmer, remove all pool_list entries in config.yaml file and start the farmer again. If the issue
                    persists leave and rejoin the pool.</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
          </div>
        </ng-template>
      </li>

      <!-- Harvesters -->
      <li [ngbNavItem]="2">
        <a ngbNavLink><i class="fa fa-tractor"></i>&nbsp;<span i18n="@@Harvesters">Harvesters</span></a>
        <ng-template ngbNavContent>
          <div *ngFor="let mapEntry of perHarvesterData | keyvalue">
            <br />
            <div class="row">
              <div class="col-md-12 ml-auto">
                <div class="accordion">
                  <div class="card">
                    <div class="card-header card-join">
                      <h5 class="mb-0">
                        <button type="button" class="btn btn-link w-100 text-primary text-left" i18n>
                          Harvester {{ mapEntry.key }}
                        </button>
                      </h5>
                    </div>
                    <div aria-labelledby="headingTwo" data-parent="#accordionFeesPool" id="collapseTwo"
                      class="show collapse in" style="display: block;" aria-expanded="false" aria-hidden="false">
                      <div class="card-body opacity-8">
                        <div class="row justify-content-center">
                          <ngx-charts-area-chart [scheme]="partialsChartColors" [legend]="false"
                            [showXAxisLabel]="false" [showYAxisLabel]="true" [xAxis]="true" [yAxis]="true"
                            [xAxisLabel]="harvesterXAxisLabel" [yAxisLabel]="harvesterYAxisLabel" [timeline]="false"
                            [results]="mapEntry.value.data" [xAxisTicks]="harvesterXTicks" [gradient]="true">
                            <ng-template #seriesTooltipTemplate let-model="model">
                              <div *ngFor="let item of model">
                                {{ item.label }}
                              </div>
                              {{ model[0].name | date:"medium" }}
                            </ng-template>
                          </ngx-charts-area-chart>
                        </div>
                        <div class="row justify-content-center">
                          <div class="col-lg-12">
                            <div class="row row-grid">
                              <div class="col-lg-4 justify-content-center">
                                <div class="card card-lift shadow border-0">
                                  <div class="card-body py-3 text-center text-uppercase">
                                    <span class="text-primary" i18n>Total Points</span>
                                    <p class="display-3">{{ mapEntry.value.points_total }}</p>
                                  </div>
                                </div>
                              </div>
                              <div class="col-lg-4 justify-content-center">
                                <div class="card card-lift shadow border-0">
                                  <div class="card-body py-3 text-center text-uppercase">
                                    <span class="text-primary" i18n>Successful Partials</span>
                                    <p class="display-3">{{ mapEntry.value.partials_success }}</p>
                                  </div>
                                </div>
                              </div>
                              <div class="col-lg-4 justify-content-center">
                                <div class="card card-lift shadow border-0">
                                  <div class="card-body py-3 text-center text-uppercase">
                                    <span class="text-warning" i18n>Failed Partials</span>
                                    <p class="display-3">{{ mapEntry.value.partials_failed }}</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </li>

      <!-- Estimated Size -->
      <li [ngbNavItem]="3">
        <a ngbNavLink><i class="fa fa-expand"></i>&nbsp;<span i18n>Estimated Size</span></a>
        <ng-template ngbNavContent>
          <div class="row justify-content-center">
            <ngx-charts-area-chart [showXAxisLabel]="false" [showYAxisLabel]="true" [xAxis]="false" [timeline]="false"
              [yAxis]="true" [xAxisLabel]="sizeXAxisLabel" [yAxisLabel]="sizeYAxisLabel" [scheme]="sizeChartColors"
              [yAxisTickFormatting]="spaceFormatAxisY" [results]="sizeData" [gradient]="true" [legend]="sizeLegend"
              [legendPosition]="sizeLegendPosition" [legendTitle]="sizeLegendTitle">
              <ng-template #seriesTooltipTemplate let-model="model">
                <div *ngFor="let item of model">
                  {{ item.label }}
                </div>
                {{ model[0].name }}
              </ng-template>
            </ngx-charts-area-chart>
          </div>
        </ng-template>
      </li>

      <!-- Rewards -->
      <li [ngbNavItem]="4">
        <a ngbNavLink><i class="fa-solid fa-coins"></i>&nbsp;<span i18n>Rewards</span></a>
        <ng-template ngbNavContent>
          <div class="row justify-content-center">
            <div class="col-lg-4">
              <br />
              <table class="table table-sm table-striped table-responsive-lg">
                <tbody>
                  <tr>
                    <th scope="col" i18n>Last 24 hours</th>
                    <td>{{ farmer.rewards.last_24h / 1000000000000 }} XCH</td>
                  </tr>
                  <tr>
                    <th scope="col" i18n>Today</th>
                    <td>{{ farmer.rewards.today / 1000000000000 }} XCH</td>
                  </tr>
                  <tr>
                    <th scope="col" i18n>Yesterday</th>
                    <td>{{ farmer.rewards.yesterday / 1000000000000 }} XCH</td>
                  </tr>
                  <tr>
                    <th scope="col" i18n>Last 7 days</th>
                    <td>{{ farmer.rewards.last_7d / 1000000000000 }} XCH</td>
                  </tr>
                  <tr>
                    <th scope="col" i18n>Last 30 days</th>
                    <td>{{ farmer.rewards.last_30d / 1000000000000 }} XCH</td>
                  </tr>
                </tbody>
              </table>
              * <span i18n>Dates above are all in UTC.</span>
            </div>
            <div class="col-lg-8" style="display: block;" #rewardsContainerRef>
              <ngx-charts-bar-vertical [view]="[rewardsContainerRef.offsetWidth, 280]" [showXAxisLabel]="false"
                [showYAxisLabel]="true" [xAxis]="false" [timeline]="false" [yAxis]="true"
                [xAxisLabel]="rewardsXAxisLabel" [yAxisLabel]="rewardsYAxisLabel" [scheme]="rewardsChartColors"
                [yAxisTickFormatting]="rewardsFormatAxisY" [results]="rewardsData" [gradient]="true" [legend]="false">
                <ng-template #tooltipTemplate let-model="model">
                  {{ model.value / 1000000000000 }} XCH<br />
                  {{ model.name | date:"longDate":"UTC" }}
                </ng-template>
              </ngx-charts-bar-vertical>
            </div>
          </div>
          <br />
          <table class="table table-sm table-striped table-responsive-lg">
            <thead>
              <tr>
                <th scope="col" i18n="@@Date">Date</th>
                <th scope="col" i18n="@@Blocks">Blocks</th>
                <th scope="col" i18n="@@Amount">Amount</th>
                <th scope="col" i18n="@@Paid">Paid</th>
                <th scope="col" i18n="@@RewardID">Reward ID</th>
              </tr>
            </thead>
            <tbody *ngIf="(payoutaddrs$ | async) as payoutaddrs;">
              <tr *ngFor="let payoutaddr of payoutaddrs; let i = index">
                <td>{{ payoutaddr.payout.datetime | date:"medium" }}</td>
                <td><span *ngFor="let block of payoutaddr.payout.blocks">#{{ block.farmed_height}} </span></td>
                <td>{{ payoutaddr.amount / 1000000000000 }} XCH</td>
                <td>
                  <span *ngIf="payoutaddr.transaction && payoutaddr.transaction.confirmed_block_index" i18n>Yes</span>
                  <span *ngIf="payoutaddr.transaction && !payoutaddr.transaction.confirmed_block_index"
                    i18n>Confirming</span>
                  <span *ngIf="!payoutaddr.transaction" i18n>Pending</span>
                </td>
                <td><a [routerLink]="['/explorer/reward', payoutaddr.payout.id]">{{ payoutaddr.payout.id }}</a></td>
              </tr>
              <tr *ngIf="payoutaddrs.length == 0">
                <td colspan="7" i18n="@@NoRewards">No rewards found!</td>
              </tr>
            </tbody>
          </table>
          <div class="d-flex justify-content-between p-2">
            <ngb-pagination [collectionSize]="payoutsCollectionSize" [(page)]="payoutsPage" [pageSize]="payoutsPageSize"
              [maxSize]="10" [rotate]="true" [boundaryLinks]="true" (pageChange)="refreshPayouts()">
            </ngb-pagination>
          </div>
        </ng-template>
      </li>

      <!-- Payouts -->
      <li [ngbNavItem]="5">
        <a ngbNavLink><i class="fa fa-wallet"></i>&nbsp;<span i18n>Payouts</span></a>
        <ng-template ngbNavContent>
          <br />
          <div class="row justify-content-center">
            <div class="col-lg-12">
              <div class="row row-grid">
                <div class="col-lg-3 justify-content-center">
                  <div class="card card-lift shadow border-0">
                    <div *ngIf="payouttxs$ | async; let payouttxs" class="card-body py-3 text-center text-uppercase">
                      <span class="text-primary"><span i18n="">Total transaction(s)</span></span>
                      <p class="display-3">{{ payouttxsCollectionSize }}</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 justify-content-center">
                  <div class="card card-lift shadow border-0">
                    <div *ngIf="(payouttxs$ | async) as payouttxs" class="card-body py-3 text-center text-uppercase">
                      <span class="text-primary"><span i18n="@@TotalPaid">Total paid</span></span>
                      <p class="display-3">{{ farmer.payout.total_paid / 1000000000000 | number:'1.6' }} XCH
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 justify-content-center">
                  <div class="card card-lift shadow border-0">
                    <div *ngIf="(payouttxs$ | async) as payouttxs" class="card-body py-3 text-center text-uppercase">
                      <span class="text-primary"><span i18n="@@TotalUnpaid">Total unpaid</span></span>
                      <p class="display-3">{{ farmer.payout.total_unpaid / 1000000000000 | number:'1.6' }} XCH
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 justify-content-center">
                  <div class="card card-lift shadow border-0">
                    <div *ngIf="(payouttxs$ | async) as payouttxs" class="card-body py-3 text-center text-uppercase">
                      <span class="text-primary"><span i18n="">Export CSV</span></span>
                      <p class="display-3">
                        <button *ngIf="payouttxs.length>=1" class="btn btn-primary btn-icon"
                          (click)="payoutDownloadCSV()">Download</button>
                        <button *ngIf="payouttxs.length==0" disabled class="btn btn-primary btn-icon disabled">No
                          payout</button>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br />
          <table class="table table-sm table-striped table-responsive-lg">
            <thead>
              <tr>
                <th scope="col" i18n="@@Date">Date</th>
                <th scope="col" i18n="@@Transaction">Transaction</th>
                <th scope="col" i18n="@@ConfirmedBlock">Confirmed Block</th>
                <th scope="col" i18n="@@Amount">Amount</th>
                <th scope="col" i18n="@@Price">Price</th>
              </tr>
            </thead>
            <tbody *ngIf="(payouttxs$ | async) as payouttxs;">
              <tr *ngFor="let payouttx of payouttxs; let i = index">
                <td>{{ payouttx.created_at_time | date:"medium" }}</td>
                <td>{{ payouttx.transaction_name }}</td>
                <td>{{ payouttx.confirmed_block_index }}</td>
                <td>{{ payouttx.amount / 1000000000000 }} XCH</td>
                <td>
                  <span *ngIf="payouttx.xch_price">${{
                    payouttx.xch_price?.usd * (payouttx.amount / 1000000000000) | number }} USD</span>
                  <span *ngIf="!payouttx.xch_price" i18n="@@Unknown">Unknown</span>
                </td>
              </tr>
              <tr *ngIf="payouttxs.length == 0">
                <td colspan="7" i18n="@@NoPayouts">No payouts found!</td>
              </tr>
            </tbody>
          </table>
          <div class="d-flex justify-content-between p-2">
            <ngb-pagination [collectionSize]="payouttxsCollectionSize" [(page)]="payouttxsPage"
              [pageSize]="payouttxsPageSize" (pageChange)="refreshPayoutTxs()" [maxSize]="10"
              [rotate]="true" [boundaryLinks]="true">
            </ngb-pagination>
          </div>
        </ng-template>
      </li>

      <!-- Blocks -->
      <li [ngbNavItem]="6">
        <a ngbNavLink><i class="fa fa-cube"></i>&nbsp;<span i18n>Blocks</span></a>
        <ng-template ngbNavContent>
          <br />
          <div class="row justify-content-center">
            <div class="col-lg-12">
              <div class="row row-grid">
                <div class="col-lg-12 justify-content-center">
                  <div class="card card-lift shadow border-0">
                    <div *ngIf="blocks$ | async; let blocks" class="card-body py-3 text-center text-uppercase">
                      <span class="text-primary"><span i18n="">Total block(s)</span></span>
                      <p class="display-3">{{ blocksCollectionSize }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br />
          <table class="table table-sm table-striped table-responsive-lg">
            <thead>
              <tr>
                <th scope="col" i18n="@@Height">Height</th>
                <th scope="col" i18n="@@Date">Date</th>
                <th scope="col" i18n="@@Amount">Amount</th>
                <th scope="col" i18n="@@Price">Price</th>
                <th scope="col"><span i18n="@@PoolEffort">Pool Effort</span>
                  <ng-template #effortTooltip>
                    <span i18n>
                      The effort that was required to farm the block. 100% is the expected estimated time to win.
                      Lower than 100% means we farmed the block before the estimation.
                      Higher than 100% means we took longer than anticipated.
                    </span>
                  </ng-template>
                  &nbsp;<i class="fas fa-info-circle" closeDelay="4000" [ngbTooltip]="effortTooltip"></i>
                </th>
                <th scope="col"><span i18n="@@Poolspace">Pool Space</span>
                  <ng-template #poolspaceTooltip>
                    <span i18n>Pool space when the block has been won.</span>
                  </ng-template>
                  &nbsp;<i class="fas fa-info-circle" closeDelay="4000" [ngbTooltip]="poolspaceTooltip"></i>
                </th>
              </tr>
            </thead>
            <tbody *ngIf="(blocks$ | async) as blocks;">
              <tr *ngFor="let block of blocks; let i = index">
                <td>
                  <a href="https://www.spacescan.io/xch/block/height/{{ block.farmed_height }}" target="_blank">
                    {{ block.farmed_height }}
                  </a>
                </td>
                <td>{{ block.timestamp * 1000 | date:"medium" }}</td>
                <td>{{ block.amount / 1000000000000 }} XCH</td>
                <td>
                  <span *ngIf="block.xch_price">${{ block.xch_price.usd * (block.amount / 1000000000000) | number
                    }} USD</span>
                  <span *ngIf="!block.xch_price" i18n="@@Unknown">Unknown</span>
                </td>
                <td>
                  <span *ngIf="block.luck == -1" i18n="@@Unknown">Unknown</span>
                  <span *ngIf="block.luck != -1">
                    {{ block.luck }}% (
                    <span *ngIf="block.luck < 80" i18n="@@Lucky">Lucky</span>
                    <span *ngIf="block.luck >= 80 && block.luck <= 120" i18n="@@Average">Average</span>
                    <span *ngIf="block.luck > 120" i18n="@@Unlucky">Unlucky</span>
                    )
                  </span>
                </td>
                <td>{{ block.pool_space | filesize:{"base": 2, "standard": "iec"} }}</td>
              </tr>
              <tr *ngIf="blocks.length == 0">
                <td colspan="6" i18n>No blocks found by this farmer!</td>
              </tr>
            </tbody>
          </table>
          <div class="d-flex justify-content-between p-2">
            <ngb-pagination [collectionSize]="blocksCollectionSize" [(page)]="blocksPage" [pageSize]="blocksPageSize"
            [maxSize]="10" [rotate]="true" [boundaryLinks]="true" (pageChange)="refreshBlocks()">
            </ngb-pagination>
          </div>
        </ng-template>
      </li>

      <!-- Fee -->
      <li [ngbNavItem]="7">
        <a ngbNavLink><i class="fa fa-percent"></i>&nbsp;<span i18n>Fee</span></a>
        <ng-template ngbNavContent>
          <br />
          <div class="row justify-content-center">
            <div class="col-lg-6 justify-content-center">

              <table class="table table-sm table-striped table-responsive-lg">
                <tbody>
                  <tr>
                    <th scope="col" i18n>Pool Base Fee</th>
                    <td>{{ farmer.fee.pool / farmer.fee.pool | number }}%</td>
                  </tr>
                  <tr>
                    <th scope="col"><i class="fa fa-minus"></i>&nbsp;<span i18n>Length of Stay Discount</span></th>
                    <td>{{ farmer.fee.stay_length_discount / farmer.fee.pool | number }}% (<span i18n>Max</span>: {{
                      farmer.fee.stay_length_discount_max / farmer.fee.pool | number }}%, {{ farmer.fee.stay_length_days
                      / 7 |
                      number:".0-0" }}/{{
                      farmer.fee.stay_length_days_max / 7 | number:".0-0" }} <span i18n>weeks</span>)</td>
                  </tr>
                  <tr>
                    <th scope="col"><i class="fa fa-minus"></i>&nbsp;<span i18n>Size Discount</span></th>
                    <td>{{ farmer.fee.size_discount * 100 | number }}%</td>
                  </tr>
                  <tr>
                    <th scope="col"><i class="fa fa-equals"></i>&nbsp;<span i18n>Effective Fee</span></th>
                    <td>{{ farmer.fee.final * 100 | number }}%<span
                        *ngIf="(farmer.fee.size_discount / farmer.fee.pool + farmer.fee.stay_length_discount / farmer.fee.pool) > farmer.fee.max_discount">
                        (<span i18n>Maximum
                          discount reached</span>)</span></td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
        </ng-template>
      </li>

    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>
</section>