<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-150">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>
  <section class="section section-lg">
    <div class="container">
      <div class="row row-grid justify-content-center">
        <div class="col-lg-8 text-left">
          <h2 class="display-3" i18n>How to join us</h2>
          <p class="lead" i18n>Make sure you are running official Chia client 1.2.0 or later.</p>
          <h3 class="display-4" i18n>Connection</h3>
          <p class="lead">https://pool.openchia.io</p>
          <h3 class="display-4" i18n>Chia UI</h3>
          <ul>
            <li i18n>Go to "Plots" menu in the left menu.</li>
            <li i18n>If you already have a Plot NFT select "Change Pool" then enter https://pool.openchia.io.</li>
            <li i18n>If you don't have a Plot NFT, add one, select "Connect to pool" and then enter https://pool.openchia.io.</li>
          </ul>
          <h3 class="display-4" i18n>Chia CLI</h3>
          <ul>
            <li i18n>Create Plot NFT:</li>
            <li i18n>chia plotnft create -s pool -u https://pool.openchia.io</li>
            <li i18n>Verify plotnft and copy contract address:</li>
            <li i18n>chia plotnft show</li>
            <li i18n>Create plots using that plotnft:</li>
            <li i18n>chia plots create -c &lt;contract address from above&gt;</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</main>
