<div class="position-relative">
  <section class="section section-md section-shaped">
    <div class="shape shape-style-1 shape-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </section>
</div>
<section class="section section-sm">
  <div class="container">
    <h1><span i18n="@@Referral">Referral</span>
      <div class="beta" i18n="@@Beta">BETA</div>
    </h1>
    <h4 class="font-weight-light mb-2" i18n>Earn XCH by referring your friends to this pool!</h4>
    <p i18n></p>
    <h4 class="font-weight-light mb-2" i18n>How does it work?</h4>
    <ul>
      <li i18n>Refer your friends to this pool using the URL https://openchia.io?referrer=YOUR_LAUNCHER_ID. Replace
        YOUR_LAUNCHER_ID with the Launcher ID from your Plot NFT.
      </li>
      <li><span i18n>Have your friend join the pool and login to the pool website using the Plot NFT login link. He will
          confirm you are his referrer. (Referrer is filled automatically if he visited the website with your
          referral URL)</span> <br /><img src="./assets/img/referral/refer.png" /></li>
      <li i18n>You will receive 20% of the pool fee for every payment made to your friend. That value comes out of the
        pool
        and not from your friend reward!</li>
    </ul>
    <h4 class="font-weight-light mb-2" i18n>How do I check my referrals?</h4>
    <p i18n>Login to the pool website using your Plot NFT login link and go to the "Referrals" tab.</p>
    <img src="./assets/img/referral/referrals.png" />
    <h4 class="font-weight-light mb-2" i18n>Rules</h4>
    <ul>
      <li i18n>Use of good faith and don't refer yourself in any shape or form.</li>
      <li i18n>Do not attempt close loop of referral. e.g. A -> B -> C -> A.</li>
      <li i18n>We reserve the right to change fees for new referrals at any time.</li>
    </ul>
  </div>
</section>