<div class="position-relative">
  <section class="section section-md section-shaped">
    <div class="shape shape-style-1 shape-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </section>
</div>
<section class="section section-sm">
  <div class="container">
    <p>July 30, 2021</p>

    <h4>Glossary</h4>

    <ul>
      <li>Terms - Terms of Service</li>

      <li>PlotNFT - Token created in Chia blockchain that cannot be spent associated to your wallet</li>
    </ul>

    <h3>1. Use of Services</h3>

    <h4>1.1 General</h4>

    <p>You can only access and use our services in accordance with these Terms. You will comply with the Terms and all
      laws, rules and regulations applicable to your use of the services subject to the country you are located.</p>

    <h4>1.2 Account</h4>

    <p>Your account is a PlotNFT that has joined your pool through the official pooling protocol of Chia. To use this
      account you must generate a login link from the official Chia client.</p>

    <h3>2. Modification</h3>

    <h4>2.1 Functionalities</h4>

    <p>We reserve the right to add, change and remove functionalities at our leisure. These modifications will be
      informed via our blog and Discord channel.</p>

    <h4>2.2 Terms of Service</h4>

    <p>Changes to Terms and any linked documents may happen from time to time. Unless otherwise noted, material changes
      to the Terms will become effective five 7 days after they are posted, except if the changes apply to new
      functionality in which case they will be effective immediately. These changes will be made available through our
      blog, email and Discord channel.</p>

    <h3>3. Fees</h3>

    <h4>3.1 Pool Fees</h4>

    <p>You shall pay certain fees for use of the Services as described in these Terms. These fees will be deducted prior
      to every block reward distribution that your PlotNFT has participated through submitting partials of proof of
      space and time using the official Chia client.</p>
    <p>The fees are available in OpenChia.io website (https://openchia.io/fees). Any changes to fees will be notified
      with at least 7 days in advance through our blog, email and Discord channel.</p>

    <h4>3.2 Blockchain Transaction Fees</h4>

    <p>The delivery and receipt of any of your cryptocurrencies is subject to network or transaction fees charged by the
      blockchain associated with the Chia Blockchain (“Blockchain Transaction Fees”). Blockchain Transaction Fees are
      paid to emit, record, verify, and process a transaction on the blockchain and not retained by us. We do not have
      any influence on the Chia cryptocurrency blockchain and farming process. We only provide an interface to the Chia
      blockchain.</p>

    <h3>4. Taxes</h3>

    <p>Each party will be responsible, as required under applicable law, for identifying and paying all taxes and other
      governmental fees and charges (and any penalties, interest, and other additions thereto) that are imposed on that
      party upon or with respect to the transactions and payments under these Terms. Our service will not be made
      accountable for any attempts of disobeying the law of your government willingly or not.</p>

    <h3>5. Restricted Territories</h3>

    <p>You represent that you are not a resident, national, or agent of any country to which the United States embargoes
      goods or imposes similar sanctions.</p>

    <h3>6. Temporary Suspension</h3>

    <h4>6.1 General</h4>

    <p>We may suspend your right to access or use any portion or all of the Services immediately upon notice to you if:
      (i) we determine your use of the Services poses a security risk to the Services or any third party, could
      adversely impact the Services or any other user; (ii) you are in breach of these Terms; or (iii) you have ceased
      to operate in the ordinary course, made an assignment for the benefit of creditors or similar disposition assets,
      or become the subject of any bankruptcy, reorganization, liquidation, dissolution or similar proceeding.</p>

    <h4>6.2 Effect of Suspension</h4>

    <p>You may remain responsible for all fees and charges you incur during the period of suspension; and you will not
      be entitled to any cryptocurrency rewards that may have occurred during the period your use of the Services was
      temporarily suspended.</p>

    <h3>7. Account inactivity</h3>

    <p>If you do not actively participate in pooling by submitting at least one valid partial proof of space and time to
      the Service for a consecutive period of 3 months, we reserve the right to reset your account balances and
      deactivate it.</p>

    <h3>8. Confidential Information</h3>

    <p>You may not disclose Confidential Information, except to agents or professional advisors who need to know it and
      who have agreed in writing (or in the case of professional advisors are otherwise bound) to keep it confidential.
      You shall ensure that those persons and entities use the received Confidential Information only to exercise rights
      and fulfill obligations under these Terms, while using reasonable care to maintain the confidentiality of such
      information.</p>

    <h3>9. Disclaimer</h3>

    <p>EXCEPT AS EXPRESSLY PROVIDED FOR IN THESE TERMS, TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, WE DO NOT
      MAKE ANY OTHER WARRANTY OF ANY KIND, WHETHER EXPRESS, IMPLIED, STATUTORY OR OTHERWISE, INCLUDING WARRANTIES OF
      MERCHANTABILITY, FITNESS FOR A PARTICULAR USE AND NON-INFRINGEMENT. WE ARE NOT RESPONSIBLE OR LIABLE FOR THE
      DELETION, FAILURE TO STORE, OR ANY LOSS OF ANY USER DATA, INCLUDING REWARDS DERIVED, MAINTAINED, OR TRANSMITTED
      THROUGH USE OF THE SERVICES. YOU ARE SOLELY RESPONSIBLE FOR SECURING ITS USER DATA AND REWARDS. WE DO NOT WARRANT
      THAT THE OPERATION OF THE SOFTWARE OR THE SERVICES WILL BE ERROR-FREE OR UNINTERRUPTED. WE ARE NOT RESPONSIBLE OR
      LIABLE FOR ANY LOSSES OR OPPORTUNITY COSTS RESULTING FROM BLOCKCHAIN NETWORK AND PROTOCOL OR THIRD-PARTY SOFTWARE
      ISSUES, WHICH MAY IN TURN RESULT IN THE INABILITY TO PROCESS TRANSACTION ON THE BLOCKCHAIN AT ALL OR WITHOUT
      INCURRING SUBSTANTIAL FEES.</p>

    <h3>10. Liability</h3>

    <h4>10.1 Limitation of Indirect Liability</h4>

    <p>TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, WE SHALL NOT BE LIABLE UNDER THIS TERMS FOR LOST REVENUES,
      OPPORTUNITY COSTS, OR INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL, EXEMPLARY, OR PUNITIVE DAMAGES, EVEN IF WE
      KNEW OR SHOULD HAVE KNOWN THAT SUCH DAMAGES WERE POSSIBLE AND EVEN IF DIRECT DAMAGES DO NOT SATISFY A REMEDY. THIS
      LIMITATION OF LIABILITY DOES NOT APPLY TO VIOLATIONS OF OUR INTELLECTUAL PROPERTY RIGHTS, INDEMNIFICATION
      OBLIGATIONS, OR YOUR PAYMENT OBLIGATIONS.</p>

    <h4>10.2 Limitation of Amount of Liability</h4>

    <p>TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, WE MAY NOT BE HELD LIABLE UNDER THESE TERMS FOR MORE THAN THE
      POOL FEE AMOUNTS WE RETAIN DIRECTLY IN CONNECTION WITH YOUR USE OF THE SERVICES.</p>

    <h4>10.3 Disruptions</h4>

    <p>Although we make a reasonable effort to protect the Service from intrusion and cyberattacks, we will not be held
      liable for interruptions of the Services resulting in but not limited to loss of access to the website, pooling
      delays, pooling disruptions, transactions, and unpaid rewards.</p>

    <h4>10.4 Wear and Tear</h4>

    <p>As farming and plotting may exert an intense load on your hardware, we shall not be liable for any damages to
      your hardware that may occur during these processes.</p>

    <h3>11. Disputes</h3>

    <p>Disputes will be resolved by binding arbitration, rather than in court. There is no judge or jury in arbitration,
      and court review of an arbitration award is limited. However, an arbitrator can award on an individual basis the
      same damages and relief as a court (including injunctive and declaratory relief or statutory damages), and must
      follow these Terms as a court would. To begin an arbitration proceeding, you must contact the pool operators via
      email contact@openchia.io.</p>

    <h3>12. Force Majeure</h3>

    <p>We will not be liable for any failure or delay in performance of obligation under these Terms where the failures
      or delay results from any cause beyond our reasonable control, including, but not limited to, acts of God, labor
      disputes or other industrial disturbances, electrical or power outages, utilities or other telecommunications
      failures, earthquake, storms or other elements of nature, blockages, embargoes, riots, acts or orders of
      government, acts of terrorism, or war. Force Majeure events include, but are not limited to, upgrades to the
      validation rules of the Chia blockchain and disruption of the Service due to outages.</p>

    <h3>13. Language</h3>

    <p>All communications and notices made or given pursuant to these Terms must be in English or Portuguese languages.
    </p>

    <h3>14. Notices to the pool</h3>

    <p>To give us notice under these terms, you can contact us through the email contact@openchia.io. Notices provided
      by personal delivery will be effective immediately.</p>

    <h3>15. Severability</h3>

    <p>If any portion of these Terms is held to be invalid or unenforceable, the remaining portions of these Terms will
      remain in full force and effect. Any invalid or unenforceable portions will be interpreted to effect and intent of
      the original portion. If such construction is not possible, the invalid or unenforceable portion will be severed
      from these Terms but the rest of these Terms will remain in full force and effect.</p>
  </div>
</section>