<section class="section section-sm pt-lg-0 mt--100" *ngIf="true">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-lg-3">
              <div class="card card-lift shadow border-0">
                <div class="card-body py-4">
                  <h6 class="text-primary text-uppercase" i18n>Pool Space</h6>
                  <p class="description mt-3" i18n>{{ pool_space / 1024 / 1024 / 1024 | number }} GiB</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="card card-lift shadow border-0">
                <div class="card-body py-4">
                  <h6 class="text-success text-uppercase" i18n>Estimate To Win</h6>
                  <p class="description mt-3" i18n>{{ estimate_win * 60 * 24 | number }} days</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="card card-lift shadow border-0">
                <div class="card-body py-4">
                  <h6 class="text-warning text-uppercase" i18n>Blocks Farmed</h6>
                  <p class="description mt-3" i18n>{{ rewards_blocks }} blocks</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="card card-lift shadow border-0">
                <div class="card-body py-4">
                  <h6 class="text-info text-uppercase" i18n>Total Farmers</h6>
                  <p class="description mt-3" i18n>{{ farmers }} farmers</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<section class="section section-sm pt-sm-0">
  <div class="container">
    <h3 class="display-3" i18n>Farmers</h3>
    <table class="table table-sm table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Launcher ID</th>
        <th scope="col">Points</th>
        <th scope="col">% of total</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let launcher of launchers$ | async; let i = index" [routerLink]="['/explorer/farmer', launcher.launcher_id]">
        <th scope="row">{{ i + 1 }}</th>
        <td class="nav-link" >{{ launcher.name || launcher.launcher_id }}</td>
        <td>{{ launcher.points }}</td>
        <td>{{ launcher.points_of_total }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</section>

<section class="section section-sm pt-sm-0">
  <div class="container">
    <h3 class="display-3" i18n>Blocks Found</h3>
    <table class="table table-sm table-striped">
      <thead>
      <tr>
        <th scope="col" i18n>Index</th>
        <th scope="col" i18n>Date</th>
        <th scope="col" i18n>Farmer</th>
      </tr>
      </thead>
      <tbody *ngIf="(blocks$ | async) as blocks;">
      <tr *ngFor="let block of blocks; let i = index">
        <td>{{ block.confirmed_block_index }}</td>
        <td>{{ block.timestamp | date }}</td>
        <td>{{ block.farmed_by.launcher_id }}</td>
      </tr>
      <tr *ngIf="blocks.length == 0">
        <td colspan="3" i18n>No blocks found!</td>
      </tr>
      </tbody>
    </table>
  </div>
</section>

<section class="section section-sm pt-sm-0">
  <div class="container">
    <h3 class="display-3" i18n>Payouts</h3>
    <table class="table table-sm table-striped">
      <thead>
      <tr>
        <th scope="col" i18n>Date</th>
        <th scope="col" i18n>Amount</th>
      </tr>
      </thead>
      <tbody *ngIf="(payouts$ | async) as payouts;">
      <tr *ngFor="let payout of payouts; let i = index">
        <td>{{ payout.datetime | date }}</td>
        <td>{{ payout.amount / 1000000000000 | number }} XCH</td>
      </tr>
      <tr *ngIf="payouts.length == 0">
        <td colspan="3" i18n>No payouts found!</td>
      </tr>
      </tbody>
    </table>
  </div>
</section>

<section class="section section-sm pt-sm-0">
  <div class="container">
    <h2 class="display-3" i18n>Pool server real-time log</h2>
    <div class="container">
      <ng-terminal #term></ng-terminal>
    </div>
  </div>
</section>
