<section class="section section-sm pt-sm-0">
  <div class="container" #ContainerRef>

    <h3 class="display-3" i18n>Reward</h3>
    <table class="table table-sm table-striped table-responsive-lg">
      <tbody>
        <tr>
          <th i18n="@@Date">Date</th>
          <td>{{ payout.datetime | date:"medium" }}</td>
        <tr>
          <th i18n="@@Amount">Amount</th>
          <td>{{ payout.amount / 1000000000000 }} XCH</td>
        </tr>
        <tr>
          <th i18n="@@Fee">Fee</th>
          <td>{{ payout.fee / 1000000000000 }} XCH</td>
        </tr>
        <tr>
          <th i18n="@@Blocks">Blocks</th>
          <td><span *ngFor="let block of payout.blocks">#{{ block?.farmed_height }}&nbsp;</span></td>
        </tr>
      </tbody>
    </table>

    <h3 class="display-3" i18n>Reward Chart</h3>
    <ngx-charts-pie-chart [view]="[ContainerRef.offsetWidth]" [legend]="payoutaddrsLegend"
      [animations]="payoutaddrsAnimations" [results]="payoutaddrsData" [gradient]="true" [labels]="true"
      [arcWidth]="0.50" [doughnut]="true" [explodeSlices]="false" [scheme]="colorScheme">
      <ng-template #seriesTooltipTemplate let-model="model">
        {{ model[0].name }}<br />
        {{ model[0].value }} XCH
      </ng-template>
      <ng-template #tooltipTemplate let-model="model">
        {{ model.name }}<br />
        {{ model.value }} XCH
      </ng-template>
    </ngx-charts-pie-chart>

    <h3 class="display-3">Farmer Reward</h3>
    <table class="table table-sm table-striped table-responsive-lg">
      <thead>
        <tr>
          <th scope="col" i18n="@@RewardID">Reward ID</th>
          <th scope="col" i18n="@@Launcher">Launcher ID</th>
          <th scope="col" i18n="@@Transaction">Transaction</th>
          <th scope="col" i18n="@@Amount">Amount</th>
          <th scope="col" i18n="@@Price">Price</th>
          <th scope="col" i18n="@@State">State</th>
        </tr>
      </thead>
      <tbody *ngIf="(payoutaddrs$ | async) as payoutaddrs;">
        <tr *ngFor="let payoutaddr of payoutaddrs; let i = index">
          <td>{{ payoutaddr.id }}</td>
          <td>
            <a [routerLink]="['/explorer/farmer', payoutaddr.launcher?.launcher_id]"
              routerLinkActive="router-link-active">
              {{ (payoutaddr.launcher?.name || payoutaddr.launcher?.launcher_id || '') | maxLength:20 }}
            </a>
          </td>
          <td>{{ payoutaddr.transaction?.transaction }}</td>
          <td>{{ payoutaddr.amount / 1000000000000 }} XCH</td>
          <td>
            <span *ngIf="payoutaddr.transaction && payoutaddr.transaction.xch_price">${{
              payoutaddr.transaction.xch_price.usd * (payoutaddr.amount / 1000000000000) | number }} USD</span>
            <span *ngIf="!payoutaddr.transaction || !payoutaddr.transaction.xch_price" i18n="@@Unknown">Unknown</span>
          </td>
          <td>
            <ng-template #pendingTransactionTooltip>
              <span i18n>
                The minimum payout has not been reached, transaction will be made at the next payment.
              </span>
            </ng-template>
            <span *ngIf="payoutaddr.transaction?.transaction" class="badge badge-pill badge-success">
              <span i18n>Confirmed</span>
            </span>
            <span *ngIf="!payoutaddr.transaction?.transaction" closeDelay="4000"
              [ngbTooltip]="pendingTransactionTooltip" class="badge badge-pill badge-warning">
              <span i18n>Pending</span>&nbsp;<i class="fas fa-info-circle"></i>
            </span>
          </td>
        </tr>
        <tr *ngIf="payoutaddrs.length == 0">
          <td colspan="5">No farmer rewards found!</td>
        </tr>
      </tbody>
    </table>
    <ngb-pagination [collectionSize]="payoutaddrsCollectionSize" [(page)]="payoutaddrsPage"
      [pageSize]="payoutaddrsPageSize" (pageChange)="refreshPayoutAddrs()" [maxSize]="10"
      [rotate]="true" [boundaryLinks]="true">
    </ngb-pagination>
  </div>

</section>
