<section class="section section-sm pt-sm-0">
  <div class="container">
    <h3 class="display-3" i18n>Farmer</h3>
    <div *ngIf="loggingIn">
      Loggin in, stand by...
    </div>
    <div *ngIf="error">
      <span i18n>Failed to authenticate! Check your URL and try again.</span>
    </div>
    <div *ngIf="loggedIn">

      <ul ngbNav #nav="ngbNav" [(activeId)]="tabActive" class="nav-tabs navbar-inverse">

        <!-- Settings -->
        <li [ngbNavItem]="1">
          <a ngbNavLink><i class="fa fa-cogs"></i>&nbsp;<span i18n>Settings</span></a>
          <ng-template ngbNavContent>

            <div class="row">
              <div class="col-lg-8 col-sm-8">
                <br />
                <div class="row">
                  <div class="col-lg-10 col-sm-10">
                    <span i18n>Launcher ID</span>: {{ farmer?.launcher_id }}<br />
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-lg-6 col-sm-6">
                    <div class="form-group">
                      <span i18n>Display name</span>: <input type="text" #name [value]="farmer.name"
                        placeholder="(not set)" class="form-control" />
                      <ngb-alert type="warning" [dismissible]="false" *ngIf="nameError">{{ nameError }}</ngb-alert>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 col-sm-6">
                    <div class="form-group">
                      <ng-template #farmerEmailTooltip>
                        <span i18n>
                          Email may be used to contact you for any issues identified with 
                          your launcher or changes in our Terms of Service.
                        </span>
                      </ng-template>
                      <span i18n>Email</span>: <i class="fas fa-info-circle"
                        [ngbTooltip]="farmerEmailTooltip"></i><input
                        type="text" #email [value]="farmer.email" placeholder="(not set)" class="form-control" />
                      <ngb-alert type="warning" [dismissible]="false" *ngIf="emailError">{{ emailError }}</ngb-alert>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 col-sm-6">
                    <div class="form-group">
                      <ng-template #notifyMissingPartialsTooltip>
                        <span i18n>
                          If you have an email configured you will receive a notification 
                          if your launcher stops sending partials for more than one hour.
                        </span>
                      </ng-template>
                      <span i18n>Notify on Missing Partials</span>: <i class="fas fa-info-circle"
                        [ngbTooltip]="notifyMissingPartialsTooltip"> </i>
                      <p class="input-checkbox">
                        <input type="checkbox" #notifyMissingPartials [checked]="farmer.notify_missing_partials_hours !== null" />
                          Email
                      </p>
                      <ngb-alert type="warning" [dismissible]="false" *ngIf="notifyMissingPartialsError">{{
                        notifyMissingPartialsError }}</ngb-alert>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 col-sm-6">
                    <div class="form-group">
                      <span class="beta">BETA</span>
                      <ng-template #notifyPaymentTooltip>
                        <span i18n>
                          Send a notification on payments.
                          Only works if you have a minimum payout set.
                        </span>
                      </ng-template>
                      <span i18n>Notify on Payments</span>: <i class="fas fa-info-circle"
                        [ngbTooltip]="notifyPaymentTooltip"> </i>
                      <br />
                      <p class="input-checkbox">
                        <input type="checkbox" #notifyPaymentEmail [checked]="farmer.payment.includes('EMAIL')" />
                        Email
                      </p>
                      <p class="input-checkbox">
                        <input type="checkbox" #notifyPaymentPush [checked]="farmer.payment.includes('PUSH')" />
                        Mobile Push Notification
                      </p>
                      <ngb-alert type="warning" [dismissible]="false" *ngIf="notifyPaymentError">
                        {{ notifyPaymentError }}
                      </ngb-alert>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 col-sm-6">
                    <div class="form-group">
                      <span class="beta">BETA</span>
                      <ng-template #notifySizeDropTooltip>
                        <span i18n>
                          Send a notification if the farm size has dropped 
                          significantly within a period of time.
                        </span>
                      </ng-template>
                      <span i18n>Notify on Farm Size Drop</span>: <i class="fas fa-info-circle"
                        [ngbTooltip]="notifySizeDropTooltip"></i>
                      <p class="input-checkbox">
                        <input type="checkbox" #notifySizeDropEmail [checked]="farmer.size_drop.includes('EMAIL')" />
                        Email
                      </p>
                      <p class="input-checkbox">
                        <input type="checkbox" #notifySizeDropPush [checked]="farmer.size_drop.includes('PUSH')" />
                        Mobile Push Notification</p>
                      <ngb-alert type="warning" [dismissible]="false" *ngIf="notifySizeDropError">{{
                        notifySizeDropError }}</ngb-alert>
                    </div>

                    <div class="form-group">
                      <span i18n>Size Drop Percent</span>
                      <input type="input" #notifySizeDropPercent [value]="farmer.size_drop_percent || ''" maxlength="14"
                        placeholder="(default to 25%)" class="form-control" />
                      <ngb-alert type="warning" [dismissible]="false" *ngIf="notifySizeDropPercentError">{{
                        notifySizeDropPercentError }}</ngb-alert>
                    </div>
                    <div class="form-group">
                      <span i18n>Size Drop Interval (Minutes)</span>
                      <input type="input" #notifySizeDropInterval [value]="farmer.size_drop_interval || ''"
                        maxlength="14" placeholder="(default to 60 minutes)" class="form-control" />
                      <ngb-alert type="warning" [dismissible]="false" *ngIf="notifySizeDropIntervalError">{{
                        notifySizeDropIntervalError }}</ngb-alert>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 col-sm-6">
                    <div class="form-group">
                      <ng-template #minPayoutTooltip>
                        <span i18n>
                          Your launcher will not receive payments until 
                          the unpaid balance hits this minimum value.
                        </span>
                      </ng-template>
                      <span i18n>Minimum Payout (XCH)</span>: <i class="fas fa-info-circle"
                        [ngbTooltip]="minPayoutTooltip"></i>
                      <input type="input" #minPayout [value]="farmer.minimum_payout / 1000000000000" maxlength="14"
                        placeholder="(not set)" class="form-control" />
                      <ngb-alert type="warning" [dismissible]="false" *ngIf="minPayoutError">{{
                        minPayoutError }}</ngb-alert>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 col-sm-6">
                    <div class="form-group">
                      <ng-template #customDifficultyTooltip>
                        <span i18n>
                          Configure the difficulty for your farm so it can send less or more partials.
                        </span>
                      </ng-template>
                      <span i18n>Difficulty</span>: <i class="fas fa-info-circle"
                      [ngbTooltip]="customDifficultyTooltip"></i>
                      <select #customDifficulty class="form-control" [value]="farmer.custom_difficulty || ''">
                        <option value="" i18n>Default - Around 600 partials sent per day</option>
                        <option value="LOWEST" i18n>Lowest - Double of partials sent per day</option>
                        <option value="LOW" i18n>Low - 50% more partials per day</option>
                        <option value="HIGH" i18n>High - 25% less partials per day</option>
                        <option value="HIGHEST" i18n>Highest - 50% less partials per day</option>
                      </select>
                      <ngb-alert type="warning" [dismissible]="false" *ngIf="customDifficultyError">{{
                        customDifficultyError }}</ngb-alert>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 col-sm-6">
                    <div class="form-group">
                      <span i18n>Referrer</span> (Launcher ID): <input type="text" #referrer
                        [value]="referrerValue || ''" placeholder="(not set)" class="form-control" />
                      <ngb-alert type="warning" [dismissible]="false" *ngIf="referrerError">{{ referrerError }}
                      </ngb-alert>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-sm-2 text-center">
                <svg width="220" height="220">
                  <image xlink:href="/api/v1.0/qrcode" src="qrcode.png" width="220" height="220" />
                </svg>
                <p><span i18n>Mobile Login</span></p>
              </div>
            </div>

            <div class="btn-group btn-group-toggle">
              <label class="btn-primary" ngbButtonLabel>
                <a type="button" (click)="submit()" ngbButton i18n="@@Save">Save</a>
              </label>
            </div>
          </ng-template>
        </li>

        <!-- Referrals -->
        <li [ngbNavItem]="2">
          <a ngbNavLink><i class="fa fa-redo"></i>&nbsp;<span i18n>Referrals</span></a>
          <ng-template ngbNavContent>
            <p><strong i18n>Referral Link</strong>: https://openchia.io/?referrer={{ farmer.launcher_id }}</p>
            <p i18n>Use above link to refer people to this pool. They will be required to join the pool and login to the
              website to confirm the referral.</p>
            <table class="table table-sm table-striped">
              <thead>
                <tr>
                  <th scope="col" i18n="@@LauncherID">Launcher ID</th>
                  <th scope="col" i18n="@@Fee">Fee</th>
                  <th scope="col" i18n="@@TotalIncome">Total Income</th>
                </tr>
              </thead>
              <tbody *ngIf="(referrals$ | async) as referrals;">
                <tr *ngFor="let referral of referrals; let i = index">
                  <td>{{ referral.launcher.name || referral.launcher.launcher_id | maxLength:16 }}</td>
                  <td>20%</td>
                  <td>{{ referral.total_income / 1000000000000 }} XCH</td>
                </tr>
                <tr *ngIf="referrals.length == 0">
                  <td colspan="3" i18n>No referrals found for this farmer!</td>
                </tr>
              </tbody>
            </table>
            <div class="d-flex justify-content-between p-2">
              <ngb-pagination [collectionSize]="referralsCollectionSize" [(page)]="referralsPage"
                [pageSize]="referralsPageSize" (pageChange)="refreshReferrals()">
              </ngb-pagination>
            </div>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
  </div>
</section>
