.beta {
  background: #129b00;
  color: white;
  border-radius: 3px;
  box-shadow: 0 0 10px rgb(0 0 100 / 20%);
  padding: 0 .86rem;
  font-weight: 700;
  font-size: 0.8rem;
  float: right;
  margin-left: 5px;
}

.input-checkbox {
  margin-top: 0.25rem;
  margin-left: 1rem;
}

.qrcode-bg {
  background-color: #ffffff;
  border-radius: 10px;
}
