.effect-left-right {
    animation: move-left-right 10s infinite;
}

.effect-top-bottom {
    animation: move-top-bottom 4s infinite;
}

.effect-morph {
    animation: move-morph 10s ease-in-out infinite;
}

@keyframes move-left-right {
    0% {
        -webkit-transform: translateX(-15px);
        transform: translateX(-15px);
    }
    50% {
        -webkit-transform: translateX(15px);
        transform: translateX(15px);
    }
    100% {
        -webkit-transform: translateX(-15px);
        transform: translateX(-15px);
    }
}

@keyframes move-top-bottom {
    0% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    50% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }
    100% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

@keyframes move-morph {
    0% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }
    100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
}
