.badge {
    text-transform: $badge-text-transfom;

    a {
        color: #FFF;
    }
}

// Variations
.badge-pill {
    padding-right: $badge-pill-padding-x;
    padding-left: $badge-pill-padding-x;
}

.badge-circle {
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    font-size: .875rem;
}

// Multiple inline badges
.badge-inline {
    margin-right: .625rem;
}

.badge-inline + span {
    top: 2px;
    position: relative;
}

.badge-inline + span > a {
    text-decoration: underline;
} 

// Sizes
.badge-md {
    padding: .65em 1em;
}

.badge-lg {
    padding: .85em 1.375em;
}


// Color variations

.badge-secondary {
    color: $gray-800;
}

// Link badges

.btn {
    .badge {
        &:not(:first-child) {
            margin-left: .5rem;
        }
        &:not(:last-child) {
            margin-right: .5rem;
        }
    }
}

// Landing badges

.badge-circle {
    text-align: center;
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 50%;
    padding: 0 !important;
    width: 1.25rem;
    height: 1.25rem;
    font-size: .75rem;
    font-weight: 600;
}

.badge-success {
    color: #fff;
    background-color: #149b00;
}

.badge-danger {
    color: #fff;
    background-color: #f91f1f;
}

.badge-warning {
    color: #fff;
    background-color: #ff8c00;
}
