<footer class="footer" [ngClass]="{'has-cards': true}">
  <div class="container">
    <div class="row row-grid align-items-center">
      <div class="col-lg-6">
        <h3 class="text-primary font-weight-light mb-2" i18n>Thank you for trusting us!</h3>
        <h4 class="mb-0 font-weight-light" i18n>Let's get in touch on any of these platforms.</h4>
      </div>
      <div class="col-lg-6 text-lg-right btn-wrapper">
        <a target="_blank" href="https://discord.gg/2URS9H7RZn"
          class="btn btn-neutral btn-icon-only btn-discord btn-round btn-lg" ngbTooltip="Chat with us">
          <i class="fab fa-discord"></i>
        </a>
        <a target="_blank" href="https://github.com/openchia"
          class="btn btn-neutral btn-icon-only btn-github btn-round btn-lg" ngbTooltip="Star on Github">
          <i class="fab fa-github"></i>
        </a>
        <a target="_blank" href="https://twitter.com/openchia"
          class="btn btn-neutral btn-icon-only btn-twitter btn-round btn-lg" ngbTooltip="Follow on Twitter">
          <i class="fab fa-twitter"></i>
        </a>
      </div>
    </div>
    <hr>
    <div class="row align-items-center justify-content-md-between">
      <div class="col-md-6">
        <div class="copyright">
          &copy; {{test | date: 'yyyy'}}
          OpenChia.io
        </div>
      </div>
      <div class="col-md-6">
        <ul class="nav nav-footer justify-content-end">
          <li class="nav-item">
            <span class="nav-link"><a href="/api/doc/" target="_blank" i18n="@@API">API</a></span>
          </li>
          <li class="nav-item">
            <span class="nav-link"><a [routerLink]="['/terms']" i18n="@@Terms">Terms</a></span>
          </li>
          <li class="nav-item">
            <span class="nav-link"><a target="_blank" href="https://blog.openchia.io">Blog</a></span>
          </li>
          <li class="nav-item">
            <span class="nav-link"><a target="_blank" href="https://stats.uptimerobot.com/wpq3oILq1R"
                i18n="@@Uptime">Uptime</a></span>
          </li>
          <li class="nav-item">
            <span class="nav-link" i18n="@@MITLicense">MIT License</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>